block footer
// Begin: Page Footer
footer#content-footer.affix
  .row
    .col-xs-6
      span.footer-legal
        span#copyright-year 2016
        =" by TemplateMonster"
    .col-xs-6.text-right
      a.footer-return-top(href='#content')
        span.fa.fa-angle-up