extends  _skeleton
include _ui-sidebar
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.admin-elements-page(data-spy='scroll', data-target='#nav-spy', data-offset='300')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('admin_forms-elements.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-center
          .tray.tray-center
            .mw1000.center-block
              // Begin: Content Header
              .content-header
                h2
                  | With
                  = ' '
                  b Admin Forms
                  |  you have everything you need.
                p.lead We even included dozens of prebuilt form layouts so you can leave work early
              // Begin: Admin Form
              .admin-form
                .panel.heading-border
                  .panel-body.bg-light
                    form#form-ui(method='post', action='')
                      #spy1.section-divider.mb40
                        span Form UI Elements
                      // .section-divider
                      // Basic Inputs
                      .row
                        .col-md-8
                          .section
                            label.field
                              input#from.gui-input(type='text', name='from', placeholder='Input no icon')
                        .col-md-4
                          .section
                            label.field
                              input#from.gui-input(type='text', name='from', placeholder='Disabled no icon', disabled='')
                      // Input Icons
                      .row
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              input#firstname.gui-input(type='text', name='firstname', placeholder='Input icon left')
                              label.field-icon(for='firstname')
                                i.fa.fa-user
                        .col-md-4
                          .section
                            label.field.append-icon.transform-none
                              input#firstname.gui-input(type='text', name='firstname', placeholder='Input icon right')
                              label.field-icon(for='firstname')
                                i.fa.fa-user
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              input#firstname.gui-input(type='text', name='firstname', placeholder='Disabled with icon', disabled='')
                              label.field-icon(for='firstname')
                                i.fa.fa-user
                      // Input Formats
                      .row
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              input#website.gui-input(type='url', name='website', placeholder='URL input')
                              label.field-icon(for='website')
                                i.fa.fa-globe
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              input#email.gui-input(type='email', name='email', placeholder='Email input')
                              label.field-icon(for='email')
                                i.fa.fa-envelope
                        .col-md-4.hidden
                          .section
                            label.field.prepend-icon
                              input#mobile.gui-input(type='tel', name='mobile', placeholder='Telephone input')
                              label.field-icon(for='mobile')
                                i.fa.fa-phone-square
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              input#s.gui-input(type='search', name='s', placeholder='Disabled Search input', disabled='')
                              label.field-icon(for='s')
                                i.fa.fa-search
                      // Multi Selects
                      .row
                        .col-md-4
                          .section
                            label.field.select
                              select#country(name='country')
                                option(value='') Select with single arrow
                                option(value='AL') Albania
                                option(value='DZ') Algeria
                              i.arrow
                        .col-md-4
                          .section
                            label.field.select
                              select#selectID(name='selectID')
                                option(value='') Select with double arrows
                                option(value='1') Option 1
                                option(value='2') Option
                              i.fa.fa-arrows-v.fs-12
                        .col-md-4
                          .section
                            label.field.select
                              select#selectID(name='selectID', disabled='')
                                option(value='') Select with double arrows
                                option(value='1') Option 1
                                option(value='2') Option 2
                              i.fa.fa-arrows-v.fs-12
                      // Text Areas
                      .row
                        .col-md-8
                          .section
                            label.field.prepend-icon
                              textarea#comment.gui-textarea(name='comment', placeholder='Text area')
                              label.field-icon(for='comment')
                                i.fa.fa-comments
                              span.input-footer
                                strong Hint:
                                | Don't be negative or off topic! just be awesome...
                        .col-md-4
                          .section
                            label.field.prepend-icon
                              textarea#comment.gui-textarea(name='comment', placeholder='Disabled Text area', disabled='')
                              label.field-icon(for='comment')
                                i.fa.fa-comments
                              span.input-footer
                                strong Hint:
                                | Don't be negative or off topic!
                      #spy2.section-divider.mv40
                        span Input Tooltips
                      // .section-divider
                      // tooltips
                      .row
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip1.gui-input(type='text', name='tooltip1', placeholder='Top Right')
                              b.tooltip.tip-right-top
                                em  I am a top right aligned tooltip! Pretty useful huh.
                              label.field-icon(for='tooltip1')
                                i.fa.fa-flag
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip2.gui-input(type='text', name='tooltip2', placeholder='Left')
                              b.tooltip.tip-left
                                em  I am a left aligned tooltip!
                              label.field-icon(for='tooltip2')
                                i.fa.fa-flag
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip3.gui-input(type='text', name='tooltip3', placeholder='Bottom Right')
                              b.tooltip.tip-right-bottom
                                em  I am a bottom right aligned tooltip! Pretty useful huh.
                              label.field-icon(for='tooltip3')
                                i.fa.fa-flag
                      .row
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip4.gui-input(type='text', name='tooltip4', placeholder='Top Left')
                              b.tooltip.tip-left-top
                                em  I am a top left aligned tooltip! Pretty useful huh.
                              label.field-icon(for='tooltip4')
                                i.fa.fa-flag
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip5.gui-input(type='text', name='tooltip5', placeholder='Right')
                              b.tooltip.tip-right
                                em  I am a right aligned tooltip!
                              label.field-icon(for='tooltip5')
                                i.fa.fa-flag
                        .col-xs-offset-3.col-xs-6.col-md-4.col-md-offset-0
                          .section
                            label.field.prepend-icon
                              input#tooltip6.gui-input(type='text', name='tooltip6', placeholder='Bottom Left')
                              b.tooltip.tip-left-bottom
                                em  I am a bottom left aligned tooltip! Pretty useful huh.
                              label.field-icon(for='tooltip6')
                                i.fa.fa-flag
                      #spy3.section-divider.mv40
                        span File Uploaders
                      // .section-divider
                      // File Uploaders
                      .row
                        .col-md-6
                          .section
                            label.field.prepend-icon.append-button.file
                              span.button Choose File
                              input#file1.gui-file(type='file', name='file1', onchange="document.getElementById('uploader1').value = this.value;")
                              input#uploader1.gui-input(type='text', placeholder='Please Select A File')
                              label.field-icon
                                i.fa.fa-upload
                        .col-md-6.hidden-xs
                          .section
                            label.field.prepend-icon.file
                              span.button Choose File
                              input#file2.gui-file(type='file', name='file2', onchange="document.getElementById('uploader2').value = this.value;")
                              input#uploader2.gui-input(type='text', placeholder='Please Select A File')
                              label.field-icon
                                i.fa.fa-upload
                      // File Uploaders2
                      .row
                        .col-md-6
                          .section
                            label.field.prepend-icon.append-button.file
                              span.button(disabled='') Choose File
                              input#file3.gui-file(type='file', name='file3', onchange="document.getElementById('uploader3').value = this.value;", disabled='')
                              input#uploader3.gui-input(type='text', placeholder='Disabled File Select')
                              label.field-icon
                                i.fa.fa-upload
                        .col-md-6.hidden-xs
                          .section
                            label.field.prepend-icon.file
                              span.button(disabled='') Choose File
                              input#file4.gui-file(type='file', name='file4', onchange="document.getElementById('uploader4').value = this.value;", disabled='')
                              input#uploader4.gui-input(type='text', placeholder='Disabled File Select')
                              label.field-icon
                                i.fa.fa-upload
                      // File Uploaders3
                      .row
                        .col-md-12
                          .section
                            label.field.prepend-icon.append-button.file
                              span.button.btn-primary Choose File
                              input#file3.gui-file(type='file', name='file3', onchange="document.getElementById('uploader3').value = this.value;")
                              input#uploader3.gui-input(type='text', placeholder='Disabled File Select')
                              label.field-icon
                                i.fa.fa-upload
                        .col-md-12.hidden-xs
                          .section
                            label.field.prepend-icon.append-button.file.disabled
                              span.button.btn-primary(disabled='') Choose File
                              input#file4.gui-file(type='file', name='file4', onchange="document.getElementById('uploader4').value = this.value;", disabled='')
                              input#uploader4.gui-input(type='text', placeholder='Disabled File Select')
                              label.field-icon
                                i.fa.fa-upload
                      #spy4.section-divider.mv40
                        span Form Addons
                      // .section-divider
                      // Form Addons
                      .row
                        .col-md-6
                          .section
                            .smart-widget.sm-right.smr-50
                              label.field
                                input#sub.gui-input(type='text', name='sub', placeholder='Smart widget right 50')
                              button.button(type='submit')
                                i.fa.fa-search
                          .section
                            .smart-widget.sm-right.smr-80
                              label.field.prepend-icon
                                input#sub2.gui-input(type='text', name='sub2', placeholder='Smart widget right 80')
                                label.field-icon(for='s')
                                  i.fa.fa-search
                              button.button(type='submit') Search
                          .section
                            .smart-widget.sm-right.smr-120
                              label.field
                                input#sub3.gui-input(type='text', name='sub3', placeholder='Smart widget right 120')
                              button.button(type='submit') Subscribe
                          .section
                            .smart-widget.sm-right.smr-160
                              label.field
                                input#sub4.gui-input(type='text', name='sub3', placeholder='Smart widget right 160')
                              button.button(type='submit') Join Mailing List
                        .col-md-6
                          .section
                            .smart-widget.sm-left.sml-50
                              label.field
                                input#sm3.gui-input(type='text', name='sm3', placeholder='Smart widget left 50')
                              label.button(for='sm3')
                                i.fa.fa-search
                          .section
                            .smart-widget.sm-left.sml-80
                              label.field
                                input#sm2.gui-input(type='text', name='sm2', placeholder='Smart widget left 80')
                              label.button(for='sm2') Search
                          .section
                            .smart-widget.sm-left.sml-120
                              label.field
                                input#sm.gui-input(type='text', name='sm', placeholder='Smart widget left 120')
                              label.button(for='sm') Subscribe
                          .section
                            .smart-widget.sm-left.sml-160
                              label.field
                                input#md.gui-input(type='text', name='sm', placeholder='Smart widget left 160')
                              label.button(for='md') Join Mailing List
                      // Radios and Checkboxes
                      #spy5.section-divider.mt40.mb25
                        span Radios and Checkboxes
                      // .section-divider
                      .section.row
                        .col-md-6.pl20.prn
                          .section.mv15
                            .option-group.field
                              label.option
                                input(type='checkbox', name='checked', value='checked', checked='')
                                span.checkbox
                                | Check
                              label.option
                                input(type='checkbox', name='disabled', value='disabled', disabled='')
                                span.checkbox
                                | Disable
                              label.option
                                input(type='checkbox', name='mobileos', value='CH')
                                span.checkbox
                                | Empty
                          .section.mb15
                            .option-group.field
                              label.option
                                input(type='radio', name='payment', checked='')
                                span.radio
                                | Check
                              label.option
                                input(type='radio', name='disabled', disabled='')
                                span.radio
                                | Disable
                              label.option
                                input(type='radio', name='payment')
                                span.radio
                                | Empty
                          .mb15
                            label.field.option.block
                              input(type='checkbox', name='terms')
                              span.checkbox.mr10
                              | Please agree to our
                              a.theme-link(href='javascript:;')  terms
                          .section
                            label.field.option.block
                              input(type='radio', name='terms')
                              span.radio.mr5
                              |  Please agree to our
                              a.theme-link(href='javascript:;')  terms
                        .col-md-6.hidden-xs
                          .row
                            .col-xs-5
                              .option-group.field.section
                                label.option.block.mt15(for='disabled')
                                  input#disabled(type='radio', name='disabled', value='disabled', disabled='')
                                  span.radio
                                  | Disabled
                                label.option.block.mt15(for='female')
                                  input#female(type='radio', name='gender', value='female')
                                  span.radio
                                  | Radio
                                label.option.block.mt15(for='other')
                                  input#other(type='radio', name='gender', value='other')
                                  span.radio
                                  | Other
                                label.option.block.mt15(for='checked')
                                  input#checked(type='radio', name='gender', value='checked', checked='')
                                  span.radio
                                  | Checked
                            .col-xs-7
                              .option-group.field.section
                                label.option.block.mt15
                                  input(type='checkbox', name='disabled', value='disabled', disabled='')
                                  span.checkbox
                                  | Disabled
                                label.option.block.mt15
                                  input(type='checkbox', name='mobileos', value='FR')
                                  span.checkbox
                                  | Android Kitkat
                                label.option.block.mt15
                                  input(type='checkbox', name='mobileos', value='CH')
                                  span.checkbox
                                  | Apple IOS 7
                                label.option.block.mt15
                                  input(type='checkbox', name='checked', value='checked', checked='')
                                  span.checkbox
                                  | Checked
                      #spy6.section-divider.mt40.mb25
                        span Toggle Switches
                      // .section-divider
                      .section.row
                        .col-sm-6.col-md-3.element-groups-lg-custom.mt30
                          label.switch.ib
                            input#f1(type='checkbox', name='features', value='javascript')
                            label(for='f1', data-on='ON', data-off='OFF')
                            span Javascript
                          label.switch
                            input#f2(type='checkbox', name='features', value='downloads')
                            label(for='f2', data-on='ON', data-off='OFF')
                            span Downloads
                          label.switch
                            input#f3(type='checkbox', name='features', value='cookies')
                            label(for='f3', data-on='ON', data-off='OFF')
                            span Cookies
                          label.switch
                            input#f4(type='checkbox', name='features', value='popups', checked='')
                            label(for='f4', data-on='ON', data-off='OFF')
                            span Popups
                        .hidden-xs.col-md-3.element-groups-lg-custom.mt30
                          label.switch.ib
                            input#t1(type='checkbox', name='tools', value='analytics')
                            label(for='t1', data-on='YES', data-off='NO')
                            span Analytics
                          label.switch
                            input#t2(type='checkbox', name='tools', value='reports')
                            label(for='t2', data-on='YES', data-off='NO')
                            span Reports
                          label.switch
                            input#t3(type='checkbox', name='tools', value='social')
                            label(for='t3', data-on='YES', data-off='NO')
                            span Social
                          label.switch
                            input#t4(type='checkbox', name='tools', value='admin', checked='')
                            label(for='t4', data-on='YES', data-off='NO')
                            span Access
                        .col-sm-6.col-md-3.element-groups-lg-custom.mt30
                          label.switch.switch-round.ib
                            input#fr1(type='radio', name='framework', value='mootols')
                            label(for='fr1', data-on='ON', data-off='OFF')
                            span MooTools
                          label.switch.switch-round
                            input#fr2(type='radio', name='framework', value='angular')
                            label(for='fr2', data-on='ON', data-off='OFF')
                            span Angular JS
                          label.switch.switch-round
                            input#fr3(type='radio', name='framework', value='jquery')
                            label(for='fr3', data-on='ON', data-off='OFF')
                            span jQuery
                          label.switch.switch-round
                            input#fr4(type='radio', name='framework', value='dojo', checked='')
                            label(for='fr4', data-on='ON', data-off='OFF')
                            span Dojo
                        .hidden-xs.col-md-3.element-groups-lg-custom.mt30
                          label.switch.switch-round.ib
                            input#fr5(type='radio', name='framework2', value='mootols')
                            label(for='fr5', data-on='YES', data-off='NO')
                            span MooTools
                          label.switch.switch-round
                            input#fr6(type='radio', name='framework2', value='angular')
                            label(for='fr6', data-on='YES', data-off='NO')
                            span Angular JS
                          label.switch.switch-round
                            input#fr7(type='radio', name='framework2', value='jquery')
                            label(for='fr7', data-on='YES', data-off='NO')
                            span jQuery
                          label.switch.switch-round
                            input#fr8(type='radio', name='framework2', value='dojo', checked='')
                            label(for='fr8', data-on='YES', data-off='NO')
                            span Dojo
                      // Ratings Widget
                      #spy7.section-divider.mb40(style='margin-top: 60px;')
                        span Review & Rating Widget
                      .section.row
                        .col-md-6.pr40.border-right
                          span.rating.block
                            span.lbl-text Customization
                            input#r5.rating-input(type='radio', name='custom', checked='')
                            label.rating-star(for='r5')
                              i.fa.fa-star
                            input#r4.rating-input(type='radio', name='custom')
                            label.rating-star(for='r4')
                              i.fa.fa-star
                            input#r3.rating-input(type='radio', name='custom')
                            label.rating-star(for='r3')
                              i.fa.fa-star
                            input#r2.rating-input(type='radio', name='custom')
                            label.rating-star(for='r2')
                              i.fa.fa-star
                            input#r1.rating-input(type='radio', name='custom')
                            label.rating-star(for='r1')
                              i.fa.fa-star
                          span.rating.block
                            span.lbl-text Reliability
                            input#rr5.rating-input(type='radio', name='reliable')
                            label.rating-star(for='rr5')
                              i.fa.fa-star
                            input#rr4.rating-input(type='radio', name='reliable', checked='')
                            label.rating-star(for='rr4')
                              i.fa.fa-star
                            input#rr3.rating-input(type='radio', name='reliable')
                            label.rating-star(for='rr3')
                              i.fa.fa-star
                            input#rr2.rating-input(type='radio', name='reliable')
                            label.rating-star(for='rr2')
                              i.fa.fa-star
                            input#rr1.rating-input(type='radio', name='reliable')
                            label.rating-star(for='rr1')
                              i.fa.fa-star
                          span.rating.block
                            span.lbl-text Relevance
                            input#rx5.rating-input(type='radio', name='relevance')
                            label.rating-star(for='rx5')
                              i.fa.fa-star
                            input#rx4.rating-input(type='radio', name='relevance')
                            label.rating-star(for='rx4')
                              i.fa.fa-star
                            input#rx3.rating-input(type='radio', name='relevance', checked='')
                            label.rating-star(for='rx3')
                              i.fa.fa-star
                            input#rx2.rating-input(type='radio', name='relevance')
                            label.rating-star(for='rx2')
                              i.fa.fa-star
                            input#rx1.rating-input(type='radio', name='relevance')
                            label.rating-star(for='rx1')
                              i.fa.fa-star
                        .col-md-6.hidden-xs.pr40
                          span.rating.block
                            span.lbl-text Our products
                            input#five-stars.rating-input(type='radio', name='product-rate')
                            label.rating-star(for='five-stars')
                              i.fa.fa-star
                            input#four-stars.rating-input(type='radio', name='product-rate')
                            label.rating-star(for='four-stars')
                              i.fa.fa-star
                            input#three-stars.rating-input(type='radio', name='product-rate', checked='')
                            label.rating-star(for='three-stars')
                              i.fa.fa-star
                            input#two-stars.rating-input(type='radio', name='product-rate')
                            label.rating-star(for='two-stars')
                              i.fa.fa-star
                            input#one-star.rating-input(type='radio', name='product-rate')
                            label.rating-star(for='one-star')
                              i.fa.fa-star
                          span.rating.block
                            span.lbl-text Support team
                            input#5stars.rating-input(type='radio', name='support-rate')
                            label.rating-star(for='5stars')
                              i.fa.fa-star
                            input#4stars.rating-input(type='radio', name='support-rate')
                            label.rating-star(for='4stars')
                              i.fa.fa-star
                            input#3stars.rating-input(type='radio', name='support-rate')
                            label.rating-star(for='3stars')
                              i.fa.fa-star
                            input#2stars.rating-input(type='radio', name='support-rate', checked='')
                            label.rating-star(for='2stars')
                              i.fa.fa-star
                            input#1star.rating-input(type='radio', name='support-rate')
                            label.rating-star(for='1star')
                              i.fa.fa-star
                          span.rating.block
                            span.lbl-text Response time
                            input#5s.rating-input(type='radio', name='response-rate')
                            label.rating-star(for='5s')
                              i.fa.fa-star
                            input#4s.rating-input(type='radio', name='response-rate')
                            label.rating-star(for='4s')
                              i.fa.fa-star
                            input#3s.rating-input(type='radio', name='response-rate')
                            label.rating-star(for='3s')
                              i.fa.fa-star
                            input#2s.rating-input(type='radio', name='response-rate')
                            label.rating-star(for='2s')
                              i.fa.fa-star
                            input#1s.rating-input(type='radio', name='response-rate', checked='')
                            label.rating-star(for='1s')
                              i.fa.fa-star
                      .section-divider.mv40.hidden
                        span.bg-light Buttons
                      // .tagline
                      .section.button-list.hidden
                        button.button
                          i.fa.fa-align-left
                        button.button
                          i.fa.fa-align-justify
                        a.button(href='javascript:;')
                          i.fa.fa-align-center
                        a.button(href='javascript:;')
                          i.fa.fa-align-right
                        a.button(href='javascript:;')
                          i.fa.fa-align-center
                        a.button.btn-primary(href='javascript:;')
                          i.fa.fa-align-right
                        button.button.btn-primary
                          i.fa.fa-align-left
                        button.button.btn-primary
                          i.fa.fa-align-justify
                        a.button.btn-primary(href='javascript:;')
                          i.fa.fa-align-center
                        a.button.btn-primary(href='javascript:;')
                          i.fa.fa-align-right
                      .section.button-list.hidden
                        input.button(type='submit', value='Button normal')
                        button.button.btn-primary Button primary
                        a.button.btn-rounded(href='javascript:;') Button rounded
                        a.button.btn-primary.btn-rounded(href='javascript:;') Primary rounded
                      .section.button-list.hidden
                        input.button.pushed(type='submit', value='Pushed normal')
                        button.button.pushed.btn-primary Pushed primary
                        a.button.pushed.btn-rounded(href='javascript:;') Pushed round
                        a.button.pushed.btn-primary.btn-rounded(href='javascript:;') Pushed round
                      .section.button-list.hidden
                        button.button.button-left Button Left
                        button.button.button-right Button right
                        a.button.btn-primary.button-left(href='javascript:;') Primary Left
                        a.button.btn-primary.button-right(href='javascript:;') Primary Right
                      .section.button-list.hidden
                        button.button.btn-pointed.button-left Pointed Left
                        button.button.btn-pointed.button-right Pointed right
                        a.button.btn-pointed.btn-primary.button-left(href='javascript:;') Pointed Left
                        a.button.btn-pointed.btn-primary.button-right(href='javascript:;') Pointed Right
                      .section-divider.hidden
                        span.bg-light Simple Pricing Grid
                      // .tagline
                      // Pricing Tables
                      .section.row.hidden
                        .col-md-6
                          .section
                            .price-box
                              h4
                                sup $
                                | 29
                                span.per-month /month
                              h5 Starter
                              .spacer.mt20.mb20
                              p For those looking for something simple to get started.
                              .spacer.mt20.mb20
                              a.button.block.pushed.expand(href='#')  Learn more
                        .col-md-6
                          .section
                            .price-box.selected-box
                              .ribbon-large
                                .ribbon-inner POPULAR
                              h4
                                sup $
                                | 179
                                span.per-month /month
                              h5 Professional
                              .spacer.mt20.mb20
                              p For large enterprises selling over one million plus a year.
                              .spacer.mt20.mb20
                              a.button.btn-primary.block.pushed.expand(href='#')  Learn more
                      .section-divider.mv40.hidden
                        span.bg-light Google Map
                      // .tagline
                      // Google Map
                      .section.hidden
                        .map-container
                          #map_canvas
                      // Notifications + Progress Bars
                      .section-divider.mv40.hidden
                        span.bg-light Notifications + Progress Bars
                      .section.hidden
                        .progress
                          .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 50%')
                            span.sr-only 40% Complete (success)
                        .progress
                          .progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                            span.sr-only 40% Complete (success)
                        .progress
                          .progress-bar.progress-bar-info.progress-bar-striped(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                            span.sr-only 20% Complete
                        .progress
                          .progress-bar.progress-bar-warning.progress-bar-striped(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                            span.sr-only 60% Complete (warning)
                        .progress
                          .progress-bar.progress-bar-danger.progress-bar-striped(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                            span.sr-only 80% Complete (danger)
                        .alert.alert-success.alert-dismissible(role='alert')
                          button.close(type='button', data-dismiss='alert')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                          strong Well done!
                          | You successfully read this important alert message.
                        .alert.alert-info.alert-dismissible(role='alert')
                          button.close(type='button', data-dismiss='alert')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                          strong Heads up!
                          | This alert needs your attention, but it's not super important.
                        .alert.alert-warning.alert-dismissible(role='alert')
                          button.close(type='button', data-dismiss='alert')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                          strong Warning!
                          | Better check yourself, you're not looking too good.
                        .alert.alert-danger.alert-dismissible(role='alert')
                          button.close(type='button', data-dismiss='alert')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                          strong Oh snap!
                          | Change a few things up and try submitting again.
                      .panel-footer.hidden
                        button.button.btn-primary(type='submit') Proceed to confirm
          // begin: .tray-right
          aside.tray.tray-right.tray290(data-tray-height='match')
            .tray-affix(data-spy='affix', data-offset-top='200')
              #skin-switcher.tray-bin.stretch.btn-dimmer.row
                .col-xs-4.pln
                  a.btn.btn-primary.btn-gradient.btn-alt.btn-block.item-active(data-form-skin='primary') Primary
                .col-xs-4
                  a.btn.btn-success.btn-gradient.btn-alt.btn-block(data-form-skin='success') Success
                .col-xs-4
                  a.btn.btn-info.btn-gradient.btn-alt.btn-block(data-form-skin='info') Info
                .col-xs-4.pln
                  a.btn.btn-warning.btn-gradient.btn-alt.btn-block(data-form-skin='warning') Warning
                .col-xs-4
                  a.btn.btn-danger.btn-gradient.btn-alt.btn-block(data-form-skin='danger') Danger
                .col-xs-4
                  a.btn.btn-alert.btn-gradient.btn-alt.btn-block(data-form-skin='alert') Alert
                .col-xs-4.pln
                  a.btn.btn-system.btn-gradient.btn-alt.btn-block(data-form-skin='system') System
                .col-xs-4
                  a.btn.btn-dark.btn-gradient.btn-alt.btn-block(data-form-skin='dark') Dark
                .col-xs-4
                  a.btn.btn-default.btn-gradient.btn-alt.btn-block(data-form-skin='default') Default
              #nav-spy
                ul.nav.tray-nav(data-smoothscroll='-90')
                  li.active
                    a(href='#spy1')
                      span.fa.fa-edit.fa-lg
                      |  Form UI Elements
                  li
                    a(href='#spy2')
                      span.fa.fa-flag.fa-lg
                      |  Input Tooltips
                  li
                    a(href='#spy3')
                      span.fa.fa-files-o.fa-lg
                      |  File Uploaders
                  li
                    a(href='#spy4')
                      span.fa.fa-caret-square-o-right.fa-lg
                      |  Form Input Addons
                  li
                    a(href='#spy5')
                      span.fa.fa-check-square-o.fa-lg
                      |  Radios & Checkboxes
                  li
                    a(href='#spy6')
                      span.fa.fa-toggle-off.fa-lg
                      |  Input Switches
                  li
                    a(href='#spy7')
                      span.fa.fa-star-o.fa-lg
                      |  Review & Rating Widgets
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    style.
      /* demo page styles */
      body {
        min-height: 2300px;
      }

      .content-header b,
      .admin-form .panel.heading-border:before,
      .admin-form .panel .heading-border:before {
        transition: all 0.7s ease;
      }

      /* responsive demo styles */
      @media (max-width: 800px) {
        .admin-form .panel-body {
          padding: 18px 12px;
        }

        .option-group .option {
          display: block;
        }

        .option-group .option + .option {
          margin-top: 8px;
        }
      }
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Form Switcher
        $('#form-switcher > button').on('click', function () {
          var btnData = $(this).data('form-layout');
          var btnActive = $('#form-elements-pane .admin-form.active');
          // Remove any existing animations and then fade current form out
          btnActive.removeClass('slideInUp').addClass('animated fadeOutRight animated-shorter');
          // When above exit animation ends remove leftover classes and animate the new form in
          btnActive.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            btnActive.removeClass('active fadeOutRight animated-shorter');
            $('#' + btnData).addClass('active animated slideInUp animated-shorter')
          });
        });
        // Cache several DOM elements
        var pageHeader = $('.content-header').find('b');
        var adminForm = $('.admin-form');
        var options = adminForm.find('.option');
        var switches = adminForm.find('.switch');
        var buttons = adminForm.find('.button');
        var Panel = adminForm.find('.panel');
        // Form Skin Switcher
        $('#skin-switcher a').on('click', function () {
          var btnData = $(this).data('form-skin');
          $('#skin-switcher a').removeClass('item-active');
          $(this).addClass('item-active')
          adminForm.each(function (i, e) {
            var skins = 'theme-primary theme-info theme-success theme-warning theme-danger theme-alert theme-system theme-dark';
            var panelSkins = 'panel-primary panel-info panel-success panel-warning panel-danger panel-alert panel-system panel-dark';
            $(e).removeClass(skins).addClass('theme-' + btnData);
            Panel.removeClass(panelSkins).addClass('panel-' + btnData);
            pageHeader.removeClass().addClass('text-' + btnData);
          });
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-' + btnData);
            } else {
              $(e).removeClass().addClass('option option-' + btnData);
            }
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-' + btnData);
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-' + btnData);
              }
            }
          });
          buttons.removeClass().addClass('button btn-' + btnData);
        });
        setTimeout(function () {
          adminForm.addClass('theme-primary');
          Panel.addClass('panel-primary');
          pageHeader.addClass('text-primary');
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-primary');
            } else {
              $(e).removeClass().addClass('option option-primary');
            }
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-primary');
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-primary');
              }
            }
          });
          buttons.removeClass().addClass('button btn-primary');
        }, 800);
      });
