extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.admin-validation-page(data-spy='scroll', data-target='#nav-spy', data-offset='200')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('admin_forms-validation.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-center
          .tray.tray-center
            // Begin: Content Header
            .content-header
              h2
                | AdminForms makes
                = ' '
                b Validation
                |  is easier than ever
              p.lead Use the Admin Forms you know and love to help build the perfect form.
            // Validation Example
            .admin-form.theme-primary.mw1000.center-block(style='padding-bottom: 175px;')
              .panel.heading-border
                form#admin-form(method='post', action='/')
                  .panel-body.bg-light
                    .section-divider.mt20.mb40
                      span  Normal validation rules
                    // .section-divider
                    #spy1.section.row
                      .col-md-6
                        label.field.prepend-icon(for='firstname')
                          input#firstname.gui-input(type='text', name='firstname', placeholder='First name...')
                          label.field-icon(for='firstname')
                            i.fa.fa-user
                      .col-md-6
                        label.field.prepend-icon(for='lastname')
                          input#lastname.gui-input(type='text', name='lastname', placeholder='Last name...')
                          label.field-icon(for='lastname')
                            i.fa.fa-user
                    .section
                      label.field.prepend-icon(for='useremail')
                        input#useremail.gui-input(type='email', name='useremail', placeholder='Email address')
                        label.field-icon(for='useremail')
                          i.fa.fa-envelope
                    .section
                      label.field.prepend-icon(for='website')
                        input#website.gui-input(type='url', name='website', placeholder='Current website url')
                        label.field-icon(for='website')
                          i.fa.fa-globe
                    .section
                      label.field.select
                        select#language(name='language')
                          option(value='') Select language...
                          option(value='EN') English
                          option(value='FR') French
                          option(value='SP') Spanish
                          option(value='CH') Chinese
                          option(value='JP') Japanese
                        i.arrow.double
                    #spy2.section
                      label.field.file(for='file1')
                        span.button.btn-primary  Choose File
                        input#file1.gui-file(type='file', name='upload1', onchange="document.getElementById('uploader1').value = this.value;")
                        input#uploader1.gui-input(type='text', placeholder='no file selected', readonly='')
                    .section
                      label.field.select-multiple
                        select#mobileos(name='mobileos', multiple='')
                          option(value='0') Apple iOS
                          option(value='1') Windows Mobile
                          option(value='2') Google Android
                          option(value='3') Tizen mobile OS
                          option(value='5') Firefox OS
                          option(value='6') Blackberry OS
                          option(value='6') Symbian
                    #spy3.section
                      label.field.prepend-icon(for='comment')
                        textarea#comment.gui-textarea(name='comment', placeholder='Your comment')
                        label.field-icon(for='comment')
                          i.fa.fa-comments
                        span.input-footer
                          strong A Footer!:
                          |  Use this area to put a useful tip or guideline..
                    .section-divider.mv40
                      span  Fill at least one
                    // .section-divider
                    .section.row
                      .col-md-6
                        label.field.prepend-icon(for='mobile_phone')
                          input#mobile_phone.gui-input.phone-group(type='tel', name='mobile_phone', placeholder='Mobile number')
                          label.field-icon(for='mobile_phone')
                            i.fa.fa-mobile-phone
                      .col-md-6
                        label.field.prepend-icon(for='home_phone')
                          input#home_phone.gui-input.phone-group(type='tel', name='home_phone', placeholder='Home number')
                          label.field-icon(for='home_phone')
                            i.fa.fa-phone
                    #spy4.section-divider.mv40
                      span  Equal - Matching elements
                    // .section-divider
                    .section
                      label.field.prepend-icon(for='password')
                        input#password.gui-input(type='password', name='password', placeholder='Create a password')
                        label.field-icon(for='password')
                          i.fa.fa-lock
                    .section
                      label.field.prepend-icon(for='repeatPassword')
                        input#repeatPassword.gui-input(type='password', name='repeatPassword', placeholder='Repeat password')
                        label.field-icon(for='repeatPassword')
                          i.fa.fa-unlock-alt
                    #spy5.section-divider.mv40
                      span  Checkboxes + Radios Group
                    // .section-divider
                    .section.row
                      .col-md-6.pad-r40.border-right
                        .option-group.field
                          label.option.option-primary.block(for='female')
                            input#female(type='radio', name='gender', value='female')
                            span.radio
                            |  Female specie
                          label.option.block.option-primary.mt10(for='male')
                            input#male(type='radio', name='gender', value='male')
                            span.radio
                            |  Male specie
                          label.option.block.option-primary.mt10(for='other')
                            input#other(type='radio', name='gender', value='other')
                            span.radio
                            |  Other specie
                      .col-md-6
                        .option-group.field
                          label.option.block.option-primary
                            input(type='checkbox', name='languages', value='FR')
                            span.checkbox
                            |  Fluent french
                          label.option.block.option-primary.mt10
                            input(type='checkbox', name='languages', value='EN')
                            span.checkbox
                            |  Fluent english
                          label.option.block.option-primary.mt10
                            input(type='checkbox', name='languages', value='CH')
                            span.checkbox
                            |  Fluent chinese
                    #spy6.section-divider.mv40
                      span  Custom Methods
                    // .section-divider
                    .section
                      .smart-widget.sm-left.sml-120
                        label.field.prepend-icon(for='verification')
                          input#verification.gui-input(type='text', name='verification', placeholder='Solve verification')
                          label.field-icon(for='verification')
                            i.fa.fa-shield
                        label.button(for='verification') 15 + 4 =
                    #spy7.section-divider.mv40
                      span  Conditional validation
                    // .section-divider
                    .section
                      p  1 - The applicant age must be 16 years and above
                      p  2 - For applicants above 19 years, a licence number will be required
                    .section.row
                      .col-md-6
                        label.field.prepend-icon(for='applicant_age')
                          input#applicant_age.gui-input(type='text', name='applicant_age', placeholder='Applicant age')
                          label.field-icon(for='applicant_age')
                            i.fa.fa-male
                      .col-md-6
                        label.field.prepend-icon(for='licence_no')
                          input#licence_no.gui-input(type='text', name='licence_no', placeholder='Licence number')
                          label.field-icon(for='licence_no')
                            i.fa.fa-credit-card
                    hr.alt.short
                    .section
                      p
                        | Child name will be required when you agree / tick / check that you are a parent
                    .section
                      .option-group.field
                        label.option.block
                          input#parents(type='checkbox', name='parents', value='parents')
                          span.checkbox
                          |  Yes i am a parent
                    .section
                      label.field.prepend-icon(for='child_name')
                        input#child_name.gui-input(type='text', name='child_name', placeholder='Enter childs name')
                        label.field-icon(for='child_name')
                          i.fa.fa-female
                  .panel-footer.text-right
                    button.button.btn-primary(type='submit')  Validate Form
                    button.button(type='reset')  Cancel
          // begin: .tray-right
          aside.tray.tray-right.tray290(data-tray-height='match')
            .tray-affix(data-smoothscroll='-80', data-spy='affix', data-offset-top='200')
              #skin-switcher.row.tray-bin.btn-dimmer.mb20
                .col-xs-4.pln
                  a.btn.btn-primary.btn-gradient.btn-alt.btn-block.item-active(data-form-skin='primary') Primary
                .col-xs-4
                  a.btn.btn-success.btn-gradient.btn-alt.btn-block(data-form-skin='success') Success
                .col-xs-4
                  a.btn.btn-info.btn-gradient.btn-alt.btn-block(data-form-skin='info') Info
                .col-xs-4.pln
                  a.btn.btn-warning.btn-gradient.btn-alt.btn-block(data-form-skin='warning') Warning
                .col-xs-4
                  a.btn.btn-danger.btn-gradient.btn-alt.btn-block(data-form-skin='danger') Danger
                .col-xs-4
                  a.btn.btn-alert.btn-gradient.btn-alt.btn-block(data-form-skin='alert') Alert
                .col-xs-4.pln
                  a.btn.btn-system.btn-gradient.btn-alt.btn-block(data-form-skin='system') System
                .col-xs-4
                  a.btn.btn-dark.btn-gradient.btn-alt.btn-block(data-form-skin='dark') Dark
                .col-xs-4
                  a.btn.btn-default.btn-gradient.btn-alt.btn-block(data-form-skin='default') Default
              #nav-spy
                ul.nav.tray-nav
                  li.active
                    a(href='#spy1')
                      span.fa.fa-clock-o.fa-lg
                      |  Basic Inputs
                  li
                    a(href='#spy2')
                      span.fa.fa-calendar.fa-lg
                      |  File Input
                  li
                    a(href='#spy3')
                      span.fa.fa-list-alt.fa-lg
                      |  Textarea
                  li
                    a(href='#spy4')
                      span.fa.fa-calendar-o.fa-lg
                      |  Matcing Elements
                  li
                    a(href='#spy5')
                      span.fa.fa-eyedropper.fa-lg
                      |  Checkboxes/Radios
                  li
                    a(href='#spy6')
                      span.fa.fa-sliders.fa-lg
                      |  Custom Methods
        // Begin: Content
        section#contents.animated.fadeIn.hidden
          // Begin: Content Header
          .content-header
            h2
              | Form Validation made
              b.text-primary Easy
            p.lead Use the Admin Forms you know and love to build the perfect form.
          // Validation Example
          .admin-form.theme-primary.mw1000.center-block
            .panel.panel-primary.heading-border
              form#admin-form(method='post', action='/')
                .panel-body
                  .section-divider.mt20.mb40
                    span  Normal validation rules
                  // .section-divider
                  .section.row
                    .col-md-6
                      label.field.prepend-icon(for='firstname')
                        input#firstname.gui-input(type='text', name='firstname', placeholder='First name...')
                        label.field-icon(for='firstname')
                          i.fa.fa-user
                    .col-md-6
                      label.field.prepend-icon(for='lastname')
                        input#lastname.gui-input(type='text', name='lastname', placeholder='Last name...')
                        label.field-icon(for='lastname')
                          i.fa.fa-user
                  .section
                    label.field.prepend-icon(for='useremail')
                      input#useremail.gui-input(type='email', name='useremail', placeholder='Email address')
                      label.field-icon(for='useremail')
                        i.fa.fa-envelope
                  .section
                    label.field.prepend-icon(for='website')
                      input#website.gui-input(type='url', name='website', placeholder='Current website url')
                      label.field-icon(for='website')
                        i.fa.fa-globe
                  .section
                    label.field.select
                      select#language(name='language')
                        option(value='') Select language...
                        option(value='EN') English
                        option(value='FR') French
                        option(value='SP') Spanish
                        option(value='CH') Chinese
                        option(value='JP') Japanese
                      i.arrow.double
                  .section
                    label.field.file(for='file1')
                      span.button.btn-primary  Choose File
                      input#file1.gui-file(type='file', name='upload1', onchange="document.getElementById('uploader1').value = this.value;")
                      input#uploader1.gui-input(type='text', placeholder='no file selected', readonly='')
                  .section
                    label.field.select-multiple
                      select#mobileos(name='mobileos', multiple='')
                        option(value='0') Apple iOS
                        option(value='1') Windows Mobile
                        option(value='2') Google Android
                        option(value='3') Tizen mobile OS
                        option(value='5') Firefox OS
                        option(value='6') Blackberry OS
                        option(value='6') Symbian
                  .section
                    label.field.prepend-icon(for='comment')
                      textarea#comment.gui-textarea(name='comment', placeholder='Your comment')
                      label.field-icon(for='comment')
                        i.fa.fa-comments
                      span.input-footer
                        strong DO NOT:
                        |  Be negative or off topic, we expect a great comment...
                  .section-divider.mv40
                    span  Fill at least one
                  // .section-divider
                  .section.row
                    .col-md-6
                      label.field.prepend-icon(for='mobile_phone')
                        input#mobile_phone.gui-input.phone-group(type='tel', name='mobile_phone', placeholder='Mobile number')
                        label.field-icon(for='mobile_phone')
                          i.fa.fa-mobile-phone
                    .col-md-6
                      label.field.prepend-icon(for='home_phone')
                        input#home_phone.gui-input.phone-group(type='tel', name='home_phone', placeholder='Home number')
                        label.field-icon(for='home_phone')
                          i.fa.fa-phone
                  .section-divider.mv40
                    span  Equal - Matching elements
                  // .section-divider
                  .section
                    label.field.prepend-icon(for='password')
                      input#password.gui-input(type='password', name='password', placeholder='Create a password')
                      label.field-icon(for='password')
                        i.fa.fa-lock
                  .section
                    label.field.prepend-icon(for='repeatPassword')
                      input#repeatPassword.gui-input(type='password', name='repeatPassword', placeholder='Repeat password')
                      label.field-icon(for='repeatPassword')
                        i.fa.fa-unlock-alt
                  .section-divider.mv40
                    span  Checkboxes + Radios Group
                  // .section-divider
                  .section.row
                    .col-md-6.pad-r40.border-right
                      .option-group.field
                        label.option.option-primary.block(for='female')
                          input#female(type='radio', name='gender', value='female')
                          span.radio
                          |  Female specie
                        label.option.block.option-primary.mt10(for='male')
                          input#male(type='radio', name='gender', value='male')
                          span.radio
                          |  Male specie
                        label.option.block.option-primary.mt10(for='other')
                          input#other(type='radio', name='gender', value='other')
                          span.radio
                          |  Other specie
                    .col-md-6.pl40
                      .option-group.field
                        label.option.block.option-primary
                          input(type='checkbox', name='languages', value='FR')
                          span.checkbox
                          |  Fluent french
                        label.option.block.option-primary.mt10
                          input(type='checkbox', name='languages', value='EN')
                          span.checkbox
                          |  Fluent english
                        label.option.block.option-primary.mt10
                          input(type='checkbox', name='languages', value='CH')
                          span.checkbox
                          |  Fluent chinese
                  .section-divider.mv40
                    span  Custom Methods
                  // .section-divider
                  .section
                    .smart-widget.sm-left.sml-120
                      label.field.prepend-icon(for='verification')
                        input#verification.gui-input(type='text', name='verification', placeholder='Solve verification')
                        label.field-icon(for='verification')
                          i.fa.fa-shield
                      label.button(for='verification') 15 + 4 =
                  .section-divider.mv40
                    span  Conditional validation
                  // .section-divider
                  .section
                    p.small-text.text-muted  1 - The applicant age must be 16 years and above
                    p.small-text.text-muted  2 - For applicants above 19 years, a licence number will be required
                  .section.row
                    .col-md-6
                      label.field.prepend-icon(for='applicant_age')
                        input#applicant_age.gui-input(type='text', name='applicant_age', placeholder='Applicant age')
                        label.field-icon(for='applicant_age')
                          i.fa.fa-male
                    .col-md-6
                      label.field.prepend-icon(for='licence_no')
                        input#licence_no.gui-input(type='text', name='licence_no', placeholder='Licence number')
                        label.field-icon(for='licence_no')
                          i.fa.fa-credit-card
                  .spacer
                  .section
                    p.small-text.text-muted
                      | Child name will be required when you agree / tick / check that you are a parent
                  .section
                    .option-group.field
                      label.option.block
                        input#parents(type='checkbox', name='parents', value='parents')
                        span.checkbox
                        |  Yes i am a parent
                  .section
                    label.field.prepend-icon(for='child_name')
                      input#child_name.gui-input(type='text', name='child_name', placeholder='Enter childs name')
                      label.field-icon(for='child_name')
                        i.fa.fa-female
                .panel-footer.text-right
                  button.button.btn-primary(type='submit')  Validate Form
                  button.button(type='reset')  Cancel
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // BEGIN: PAGE SCRIPTS
    style.
      /* demo page styles */
      body {
        min-height: 2300px;
      }

      .content-header b,
      .admin-form .panel.heading-border:before,
      .admin-form .panel .heading-border:before {
        transition: all 0.7s ease;
      }

      /* responsive demo styles */
      @media (max-width: 800px) {
        .admin-form .panel-body {
          padding: 18px 12px;
        }
      }
    // core scripts
    script(src='plugins/core.min.js')
    // jQuery Validate Plugin
    script(src='assets/admin-tools/admin-forms/js/jquery.validate.min.js')
    // jQuery Validate Addon
    script(src='assets/admin-tools/admin-forms/js/additional-methods.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        /* @custom validation method (smartCaptcha)
         ------------------------------------------------------------------ */
        $.validator.methods.smartCaptcha = function (value, element, param) {
          return value == param;
        };
        $("#admin-form").validate({
          /* @validation states + elements
           ------------------------------------------- */
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          /* @validation rules
           ------------------------------------------ */
          rules: {
            firstname: {
              required: true
            },
            lastname: {
              required: true
            },
            useremail: {
              required: true,
              email: true
            },
            website: {
              required: true,
              url: true
            },
            language: {
              required: true
            },
            upload1: {
              required: true,
              extension: "jpg|png|gif|jpeg|doc|docx|pdf|xls|rar|zip"
            },
            mobileos: {
              required: true
            },
            comment: {
              required: true,
              minlength: 30
            },
            mobile_phone: {
              require_from_group: [1, ".phone-group"]
            },
            home_phone: {
              require_from_group: [1, ".phone-group"]
            },
            password: {
              required: true,
              minlength: 6,
              maxlength: 16
            },
            repeatPassword: {
              required: true,
              minlength: 6,
              maxlength: 16,
              equalTo: '#password'
            },
            gender: {
              required: true
            },
            languages: {
              required: true
            },
            verification: {
              required: true,
              smartCaptcha: 19
            },
            applicant_age: {
              required: true,
              min: 16
            },
            licence_no: {
              required: function (element) {
                return $("#applicant_age").val() > 19;
              }
            },
            child_name: {
              required: "#parents:checked"
            }
          },
          /* @validation error messages
           ---------------------------------------------- */
          messages: {
            firstname: {
              required: 'Enter first name'
            },
            lastname: {
              required: 'Enter last name'
            },
            useremail: {
              required: 'Enter email address',
              email: 'Enter a VALID email address'
            },
            website: {
              required: 'Enter your website URL',
              url: 'URL should start with - http://www'
            },
            language: {
              required: 'Choose a language'
            },
            upload1: {
              required: 'Please browse a file',
              extension: 'File format not supported'
            },
            mobileos: {
              required: 'Please select a mobile platform'
            },
            comment: {
              required: 'Oops you forgot to comment',
              minlength: 'Enter at least 30 characters or more'
            },
            mobile_phone: {
              require_from_group: 'Fill at least a mobile contact'
            },
            home_phone: {
              require_from_group: 'Fill at least a home contact'
            },
            password: {
              required: 'Please enter a password'
            },
            repeatPassword: {
              required: 'Please repeat the above password',
              equalTo: 'Password mismatch detected'
            },
            gender: {
              required: 'Please choose specie'
            },
            languages: {
              required: 'Select laguages spoken'
            },
            verification: {
              required: 'Please enter verification code',
              smartCaptcha: 'Oops - enter a correct verification code'
            },
            applicant_age: {
              required: 'Enter applicant age',
              min: 'Must be 16 years and above'
            },
            licence_no: {
              required: 'Enter licence number'
            },
            child_name: {
              required: 'Please enter your childs name'
            }
          },
          /* @validation highlighting + error placement
           ---------------------------------------------------- */
          highlight: function (element, errorClass, validClass) {
            $(element).closest('.field').addClass(errorClass).removeClass(validClass);
          },
          unhighlight: function (element, errorClass, validClass) {
            $(element).closest('.field').removeClass(errorClass).addClass(validClass);
          },
          errorPlacement: function (error, element) {
            if (element.is(":radio") || element.is(":checkbox")) {
              element.closest('.option-group').after(error);
            } else {
              error.insertAfter(element.parent());
            }
          }
        });
        // Cache several DOM elements
        var pageHeader = $('.content-header').find('b');
        var adminForm = $('.admin-form');
        var options = adminForm.find('.option');
        var switches = adminForm.find('.switch');
        var buttons = adminForm.find('.button');
        var Panel = adminForm.find('.panel');
        // Form Skin Switcher
        $('#skin-switcher a').on('click', function () {
          var btnData = $(this).data('form-skin');
          $('#skin-switcher a').removeClass('item-active');
          $(this).addClass('item-active')
          adminForm.each(function (i, e) {
            var skins = 'theme-primary theme-info theme-success theme-warning theme-danger theme-alert theme-system theme-dark'
            var panelSkins = 'panel-primary panel-info panel-success panel-warning panel-danger panel-alert panel-system panel-dark'
            $(e).removeClass(skins).addClass('theme-' + btnData);
            Panel.removeClass(panelSkins).addClass('panel-' + btnData);
            pageHeader.removeClass().addClass('text-' + btnData);
          });
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-' + btnData);
            } else {
              $(e).removeClass().addClass('option option-' + btnData);
            }
          });
          // var sliders = $('.ui-timepicker-div', adminForm).find('.ui-slider');
          $('body').find('.ui-slider').each(function (i, e) {
            $(e).addClass('slider-primary');
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-' + btnData);
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-' + btnData);
              }
            }
          });
          buttons.removeClass().addClass('button btn-' + btnData);
        });
        setTimeout(function () {
          adminForm.addClass('theme-primary');
          Panel.addClass('panel-primary');
          pageHeader.addClass('text-primary');
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-primary');
            } else {
              $(e).removeClass().addClass('option option-primary');
            }
          });
          // var sliders = $('.ui-timepicker-div', adminForm).find('.ui-slider');
          $('body').find('.ui-slider').each(function (i, e) {
            $(e).addClass('slider-primary');
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-primary');
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-primary');
              }
            }
          });
          buttons.removeClass().addClass('button btn-primary');
        }, 800);
      });