extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.admin-dock-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content

        +makeSidebar('admin_plugins-dock.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.animated.fadeIn
          // Begin: Content Header
          .content-header
            h2
              | Send just about
              = ' '
              b.text-primary Anything
              |  to AdminDock
            p.lead Give it a try below! Select a type of content and click "Send to Admin Dock".
          .row.animated-delay(data-animate='["500","fadeIn"]')
            .col-md-10.center-block.text-center
              .row.table-layout.table-clear-xs
                .col-xs-12.col-sm-4.br-a.br-light.bg-light.pv20.ph30.va-t
                  h4.micro-header Select Content Type
                  #content-type.row
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20.holder-active(href='#dock-image')
                        span.fa.fa-picture-o.holder-icon
                        br
                        |  Image
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20(href='#dock-panel')
                        span.fa.fa-text-height.holder-icon
                        br
                        |  Panel
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20(href='#dock-table')
                        span.fa.fa-pencil-square-o.holder-icon
                        br
                        |  Table
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20(href='#dock-form')
                        span.fa.fa-map-marker.holder-icon
                        br
                        |  Form
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20(href='#dock-text')
                        span.fa.fa-film.holder-icon
                        br
                        |  Text
                    .col-xs-4.col-sm-6
                      a.holder-style.p15.mb20(href='#dock-video')
                        span.fa.fa-spinner.holder-icon
                        br
                        |  Video
                  button#dock-push.btn.btn-success.fs14.fw600.pv15.btn-block(type='button') Send to Admin Dock
                .col-xs-12.col-sm-8.br-a.br-light.bg-light.dark.va-t.p10.va-m
                  #dock-content.ph20
                    #dock-image.active-content
                      .dock-item(data-title='Tiger Image')
                        img.img-responsive.center-block(src='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                    #dock-panel
                      .dock-item(data-title='A Panel')
                        .panel
                          .panel-heading
                            span.panel-icon.pl5
                              i.fa.fa-pencil
                            span.panel-title Panel 1
                          .panel-body
                            h3.mtn  Hello.
                            p  I'm Example panel content
                    #dock-table
                      .dock-item(data-title='Green Table')
                        .panel
                          .panel-body.pn
                            table.table
                              thead
                                tr.success
                                  th #
                                  th First Name
                                  th
                                    code .success
                              tbody
                                tr
                                  td 1
                                  td Mark
                                  td Cell
                                tr
                                  td 2
                                  td Jacob
                                  td Cell
                                tr
                                  td 3
                                  td Larry
                                  td Cell
                                tr
                                  td 4
                                  td Sussy
                                  td Cell
                    #dock-form
                      .dock-item(data-title='Admin Form')
                        .admin-form
                          .panel.panel-success.heading-border
                            .panel-heading.bg-white.hidden
                              span.panel-title
                                i.fa.fa-rocket
                                | Leave a comment
                            form#comment(method='post', action='/')
                              .panel-body.p25.pb15
                                .section.row
                                  .col-md-6
                                    label.field.prepend-icon(for='firstname')
                                      input#firstname.gui-input(type='text', name='firstname', placeholder='First name...')
                                      label.field-icon(for='firstname')
                                        i.fa.fa-user
                                  .col-md-6
                                    label.field.prepend-icon(for='lastname')
                                      input#lastname.gui-input(type='text', name='lastname', placeholder='Last name...')
                                      label.field-icon(for='lastname')
                                        i.fa.fa-user
                                .section.row
                                  .col-md-6
                                    label.field.prepend-icon(for='email')
                                      input#email.gui-input(type='email', name='email', placeholder='Email address')
                                      label.field-icon(for='email')
                                        i.fa.fa-envelope
                                  .col-md-6
                                    label.field.prepend-icon(for='website')
                                      input#lastname.gui-input(type='url', name='website', placeholder='Website url...')
                                      label.field-icon(for='website')
                                        i.fa.fa-globe
                                .section
                                  label.field.prepend-icon(for='comment')
                                    textarea#comment.gui-textarea(name='comment', placeholder='Your comment')
                                    label.field-icon(for='comment')
                                      i.fa.fa-comments
                                    span.input-footer
                                      strong DO NOT:
                                      | Be negative or off topic. We expect a great comment.
                              .panel-footer.hidden
                                button.button.btn-primary(type='submit') Post Comment
                    #dock-text
                      .dock-item(data-title='Just Text')
                        p.fs15.mt10.mb20.ph20
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        p.fs15.mb20.ph20
                          | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    #dock-video
                      .dock-item(data-title='Online Video')
                        .embed-responsive.embed-responsive-16by9
                          iframe(width='100%', height='300', src='http://www.youtube.com/embed/r1ROBlsOhwc?rel=0', frameborder='0', allowfullscreen='')
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Demo only javascript. no real use
        var contentType = $('#content-type');
        var Content = $('#dock-content');
        contentType.on('click', '.holder-style', function (e) {
          e.preventDefault();
          var This = $(this);
          var activeContent = This.attr('href');
          // Content button active
          contentType.find('.holder-style').removeClass('holder-active');
          This.addClass('holder-active');
          Content.children('div').removeClass('active-content');
          $(activeContent).addClass('active-content');
        });
        $('#dock-push').on('click', function () {
          var findPush = Content.children('.active-content').find('.dock-item');
          // Admin Dock Plugin
          findPush.dockmodal({
            minimizedWidth: 220,
            height: 430,
            title: function () {
              // note this is a panel specific callback
              // will return undefined if nonexistant
              return this.data('title');
            },
            initialState: "minimized"
          });
        });
      });