extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.admin-widgets-page(data-spy='scroll', data-target='#nav-spy', data-offset='300')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('admin_forms-widgets.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-center
          .tray.tray-center
            // Begin: Content Header
            .content-header
              h2
                | We created the
                = ' '
                b Widgets
                |  your project deserves.
              p.lead Every widget has its own set of skins, making form creation easier than ever.
            // begin: .admin-form
            .admin-form.mw1000.center-block
              .panel.heading-border
                .panel-body.bg-light
                  form#example-widgets-form(method='post', action='/')
                    .section.row
                      // Data Pickers - Field Versions
                      .col-lg-7
                        // TimePickers
                        #widget1.section-divider.mb30
                          span Time picker
                        .section
                          label.field.prepend-icon(for='timepicker1')
                            input#timepicker1.gui-input(type='text', name='timepicker1', placeholder='Timepicker Popup')
                            label.field-icon
                              i.fa.fa-clock-o
                        .section
                          label.field.prepend-picker-icon(for='timepicker2')
                            input#timepicker2.gui-input(type='text', name='timepicker2', placeholder='Timepicker Addon')
                        .section
                          label.field.prepend-picker-icon(for='timepicker3')
                            input#timepicker3.gui-input(type='text', name='timepicker3', disabled='', placeholder='Disabled Timepicker')
                        // DatePickers
                        #widget2.section-divider.mv40
                          span Date picker
                        .section
                          label.field.prepend-icon(for='datepicker1')
                            input#datepicker1.gui-input(type='text', name='datepicker1', placeholder='Datepicker Popup')
                            label.field-icon
                              i.fa.fa-calendar-o
                        .section
                          label.field.prepend-picker-icon(for='datepicker2')
                            input#datepicker2.gui-input(type='text', name='datepicker2', placeholder='Datepicker Addon')
                        .section
                          label.field.prepend-picker-icon(for='datepicker3')
                            input#datepicker3.gui-input(type='text', name='datepicker3', disabled='', placeholder='Disabled Timepicker')
                        // DateTimePickers
                        #widget3.section-divider.mv40
                          span Date Time picker
                        .section
                          label.field.prepend-icon(for='datetimepicker1')
                            input#datetimepicker1.gui-input(type='text', name='datetimepicker1', placeholder='Datetimepicker Popup')
                            label.field-icon
                              i.fa.fa-calendar-o
                        .section
                          label.field.prepend-picker-icon(for='datetimepicker2')
                            input#datetimepicker2.gui-input(type='text', name='datetimepicker2', placeholder='Datetimepicker Addon')
                        .section
                          label.field.prepend-picker-icon(for='datetimepicker3')
                            input#datetimepicker3.gui-input(type='text', name='datetimepicker3', disabled='', placeholder='Disabled DateTimepicker')
                        // MonthPickers
                        #widget4.section-divider.mv40
                          span Month Picker
                        .section
                          label.field.prepend-icon(for='monthpicker1')
                            input#monthpicker1.gui-input(type='text', name='monthpicker1', placeholder='Monthpicker Popup')
                            label.field-icon
                              i.fa.fa-calendar-o
                        .section
                          label.field.prepend-picker-icon(for='monthpicker2')
                            input#monthpicker2.gui-input(type='text', name='monthpicker2', placeholder='Monthpicker Addon')
                        .section
                          label.field.prepend-picker-icon(for='monthpicker3')
                            input#monthpicker3.gui-input(type='text', name='monthpicker3', disabled='', placeholder='Disabled Monthpicker')
                        // ColorPickers
                        #widget5.section-divider.mv40
                          span Color Picker
                        .section
                          label.field.sfcolor
                            input#colorpicker1.gui-input(type='text', name='colorpicker1', placeholder='Basic Picker')
                        .section
                          label.field.sfcolor
                            input#colorpicker2.gui-input(type='text', name='colorpicker2', placeholder='Advanced Picker')
                        .section
                          label.field.sfcolor
                            input#colorpicker3.gui-input(type='text', name='colorpicker3', disabled='', placeholder='Disabled')
                        // UI Sliders
                        #widget6.section-divider.mv40
                          span UI Sliders
                        .section.mb25
                          input.slider-countbox(type='text', readonly='', value='30')
                          .slider-wrapper.slider-primary
                            #slider1
                        .section.mb25
                          .slider-wrapper.slider-info
                            #slider2
                        .section.mb25
                          .slider-wrapper.slider-warning
                            #slider3
                        .section.mb25
                          .slider-wrapper.slider-system
                            #slider4
                        .section.mb25
                          .slider-wrapper.slider-success
                            #slider5
                      // Data Pickers - Inline Versions
                      .col-lg-5.ph20
                        .inline-tp.center-block.mv20
                        .inline-mp.center-block.mv20
                        .inline-dp.center-block.mb20
                        .inline-dtp.center-block.mb25
                        .inline-cp.center-block
                    // Numeric Steppers
                    .section-divider.mv40.hidden
                      span Numeric Stepper
                    .section.row.hidden
                      .col-lg-6
                        label.field
                          input#stepper3.gui-input(type='text', name='stepper3', value='3.6')
                      .col-lg-6
                        label.field
                          input#stepper4.gui-input(type='text', name='stepper4', value='2')
          // begin: .tray-right
          aside.tray.tray-right.tray290(data-tray-height='match')
            .tray-affix(data-spy='affix', data-offset-top='200')
              #skin-switcher.row.tray-bin.btn-dimmer.mb20
                .col-xs-4.pln
                  a.btn.btn-primary.btn-gradient.btn-alt.btn-block.item-active(data-form-skin='primary') Primary
                .col-xs-4
                  a.btn.btn-success.btn-gradient.btn-alt.btn-block(data-form-skin='success') Success
                .col-xs-4
                  a.btn.btn-info.btn-gradient.btn-alt.btn-block(data-form-skin='info') Info
                .col-xs-4.pln
                  a.btn.btn-warning.btn-gradient.btn-alt.btn-block(data-form-skin='warning') Warning
                .col-xs-4
                  a.btn.btn-danger.btn-gradient.btn-alt.btn-block(data-form-skin='danger') Danger
                .col-xs-4
                  a.btn.btn-alert.btn-gradient.btn-alt.btn-block(data-form-skin='alert') Alert
                .col-xs-4.pln
                  a.btn.btn-system.btn-gradient.btn-alt.btn-block(data-form-skin='system') System
                .col-xs-4
                  a.btn.btn-dark.btn-gradient.btn-alt.btn-block(data-form-skin='dark') Dark
                .col-xs-4
                  a.btn.btn-default.btn-gradient.btn-alt.btn-block(data-form-skin='default') Default
              #nav-spy
                ul.nav.tray-nav(data-smoothscroll='-110')
                  li.active
                    a(href='#widget1')
                      span.fa.fa-clock-o.fa-lg
                      |  Time Picker
                  li
                    a(href='#widget2')
                      span.fa.fa-calendar.fa-lg
                      |  Date Picker
                  li
                    a(href='#widget3')
                      span.fa.fa-list-alt.fa-lg
                      |  Date & Time Picker
                  li
                    a(href='#widget4')
                      span.fa.fa-calendar-o.fa-lg
                      |  Month Picker
                  li
                    a(href='#widget5')
                      span.fa.fa-eyedropper.fa-lg
                      |  Color Picker
                  li
                    a(href='#widget6')
                      span.fa.fa-sliders.fa-lg
                      |  UI Slider Widgets
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // BEGIN: PAGE SCRIPTS
    style.
      /* demo styles */
      .content-header b,
      .admin-form .panel.heading-border:before,
      .admin-form .panel .heading-border:before {
        transition: all 0.7s ease;
      }

      /* responsive demo styles */
      @media (max-width: 800px) {
        .admin-form .panel-body {
          padding: 18px 12px;
        }
      }
    // core scripts
    script(src='plugins/core.min.js')
    // AdminForms JS
    script(src='assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js')
    script(src='assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js')
    script(src='assets/admin-tools/admin-forms/js/jquery.spectrum.min.js')
    script(src='assets/admin-tools/admin-forms/js/jquery.stepper.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        /* @time picker
         ------------------------------------------------------------------ */
        $('.inline-tp').timepicker();
        $('#timepicker1').timepicker({
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#timepicker2').timepicker({
          showOn: 'both',
          buttonText: '<i class="fa fa-clock-o"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#timepicker3').timepicker({
          showOn: 'both',
          disabled: true,
          buttonText: '<i class="fa fa-clock-o"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        /* @date time picker
         ------------------------------------------------------------------ */
        $('#datetimepicker1').datetimepicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#datetimepicker2').datetimepicker({
          showOn: 'both',
          buttonText: '<i class="fa fa-calendar-o"></i>',
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#datetimepicker3').datetimepicker({
          showOn: 'both',
          buttonText: '<i class="fa fa-calendar-o"></i>',
          disabled: true,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('.inline-dtp').datetimepicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
        });
        /* @date picker
         ------------------------------------------------------------------ */
        $("#datepicker1").datepicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false,
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#datepicker2').datepicker({
          numberOfMonths: 1,
          showOn: 'both',
          buttonText: '<i class="fa fa-calendar-o"></i>',
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('#datepicker3').datepicker({
          showOn: 'both',
          disabled: true,
          buttonText: '<i class="fa fa-calendar-o"></i>',
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $('.inline-dp').datepicker({
          numberOfMonths: 1,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false
        });
        /* @month picker
         ------------------------------------------------------------------ */
        $("#monthpicker1").monthpicker({
          changeYear: false,
          stepYears: 1,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: true,
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $("#monthpicker2").monthpicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showOn: 'both',
          buttonText: '<i class="fa fa-calendar-o"></i>',
          showButtonPanel: true,
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        $("#monthpicker3").monthpicker({
          changeYear: false,
          stepYears: 1,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showOn: 'both',
          buttonText: '<i class="fa fa-calendar-o"></i>',
          showButtonPanel: true,
          disabled: true,
        });
        $('.inline-mp').monthpicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false
        });
        /* @color picker
         ------------------------------------------------------------------ */
        var cPicker1 = $("#colorpicker1"),
                cPicker2 = $("#colorpicker2");
        var cContainer1 = cPicker1.parents('.sfcolor').parent(),
                cContainer2 = cPicker2.parents('.sfcolor').parent();
        $(cContainer1).add(cContainer2).addClass('posr');
        $("#colorpicker1").spectrum({
          color: bgInfo,
          appendTo: cContainer1,
          containerClassName: 'sp-left'
        });
        $("#colorpicker2").spectrum({
          color: bgPrimary,
          appendTo: cContainer2,
          containerClassName: 'sp-left',
          showInput: true,
          showPalette: true,
          palette: [
            [bgPrimary, bgSuccess, bgInfo],
            [bgWarning, bgDanger, bgAlert],
            [bgSystem, bgDark, bgBlack]
          ]
        });
        $("#colorpicker3").spectrum({
          color: bgLightDr,
          showInput: true
        });
        $(".inline-cp").spectrum({
          color: bgInfo,
          showInput: true,
          showPalette: true,
          chooseText: "Select Color",
          flat: true,
          palette: [
            [bgPrimary, bgSuccess, bgInfo, bgWarning,
              bgDanger, bgAlert, bgSystem, bgDark,
              bgSystem, bgDark, bgBlack
            ]
          ]
        });
        $("#colorpicker1, #colorpicker2, #colorpicker3, .inline-cp").show();
        /* @numeric stepper
         ------------------------------------------------------------------ */
        $('#stepper3').stepper({
          wheel_step: 0.1,
          arrow_step: 0.2
        });
        $('#stepper4').stepper({
          UI: false,
          allowWheel: false
        });
        /* @ui slider
         ------------------------------------------------------------------ */
        $("#slider1").slider({
          range: "min",
          min: 0,
          max: 100,
          value: 30,
          slide: function (event, ui) {
            $(".slider-countbox").val("$" + ui.value);
          }
        });
        $("#slider2").slider({
          range: true,
          values: [27, 63]
        });
        $("#slider3").slider({
          range: true,
          values: [7, 53]
        });
        $("#slider4").slider({
          range: true,
          values: [57, 93]
        });
        $("#slider5").slider({
          range: true,
          values: [37, 63]
        });
        // Demo Code - Form Switcher
        $('#form-switcher > button').on('click', function () {
          var btnData = $(this).data('form-layout');
          var btnActive = $('#form-elements-pane .admin-form.active');
          // Remove any existing animations and then fade current form out
          btnActive.removeClass('slideInUp').addClass('animated fadeOutRight animated-shorter');
          // When above exit animation ends remove leftover classes and animate the new form in
          btnActive.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            btnActive.removeClass('active fadeOutRight animated-shorter');
            $('#' + btnData).addClass('active animated slideInUp animated-shorter')
          });
        });
        // Cache several DOM elements
        var pageHeader = $('.content-header').find('b');
        var adminForm = $('.admin-form');
        var options = adminForm.find('.option');
        var switches = adminForm.find('.switch');
        var buttons = adminForm.find('.button');
        var Panel = adminForm.find('.panel');
        // Form Skin Switcher
        $('#skin-switcher a').on('click', function () {
          var btnData = $(this).data('form-skin');
          $('#skin-switcher a').removeClass('item-active');
          $(this).addClass('item-active')
          adminForm.each(function (i, e) {
            var skins = 'theme-primary theme-info theme-success theme-warning theme-danger theme-alert theme-system theme-dark'
            var panelSkins = 'panel-primary panel-info panel-success panel-warning panel-danger panel-alert panel-system panel-dark'
            $(e).removeClass(skins).addClass('theme-' + btnData);
            Panel.removeClass(panelSkins).addClass('panel-' + btnData);
            pageHeader.removeClass().addClass('text-' + btnData);
          });
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-' + btnData);
            } else {
              $(e).removeClass().addClass('option option-' + btnData);
            }
          });
          // var sliders = $('.ui-timepicker-div', adminForm).find('.ui-slider');
          $('body').find('.ui-slider').each(function (i, e) {
            $(e).addClass('slider-primary');
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-' + btnData);
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-' + btnData);
              } else {
                $(ele).removeClass().addClass('switch switch-' + btnData);
              }
            }
          });
          buttons.removeClass().addClass('button btn-' + btnData);
        });
        setTimeout(function () {
          adminForm.addClass('theme-primary');
          Panel.addClass('panel-primary');
          pageHeader.addClass('text-primary');
          $(options).each(function (i, e) {
            if ($(e).hasClass('block')) {
              $(e).removeClass().addClass('block mt15 option option-primary');
            } else {
              $(e).removeClass().addClass('option option-primary');
            }
          });
          // var sliders = $('.ui-timepicker-div', adminForm).find('.ui-slider');
          $('body').find('.ui-slider').each(function (i, e) {
            $(e).addClass('slider-primary');
          });
          $(switches).each(function (i, ele) {
            if ($(ele).hasClass('switch-round')) {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-round switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-round switch-primary');
              }
            } else {
              if ($(ele).hasClass('block')) {
                $(ele).removeClass().addClass('block mt15 switch switch-primary');
              } else {
                $(ele).removeClass().addClass('switch switch-primary');
              }
            }
          });
          buttons.removeClass().addClass('button btn-primary');
        }, 800);
      });