extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.ecommerce-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white.hidden
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='bg-light')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('ecommerce_settings.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.text-center.bg-white.alt.ph10.br-b-ddd
          div
            ul.nav.nav-list.nav-list-topbar
              li
                a(href='ecommerce_dashboard.html') Dashboard
              li
                a(href='ecommerce_products.html') Products
              li
                a(href='ecommerce_orders.html') Orders
              li
                a(href='ecommerce_customers.html') Customers
              li.active
                a(href='ecommerce_settings.html') Settings
          .mt-30.hidden-xs
            a.btn.btn-default.btn-sm.fw600.ml10(href='ecommerce_orders.html')
              span.fa.fa-plus.pr5
              |  New Order
            a.btn.btn-default.btn-sm.fw600.ml10(href='ecommerce_products.html')
              span.fa.fa-plus.pr5
              |  Add Product
            a.btn.btn-default.btn-sm.fw600.ml10(href='ecommerce_customers.html')
              span.fa.fa-user.pr5
              |  Add Customer
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-center
          .tray.tray-center
            .mw1000.center-block
              // Store Owner Details
              .panel.panel-warning.panel-border.top.mt20.mb35
                .panel-heading
                  span.panel-title Owner Details
                .panel-body.bg-white
                  .admin-form
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='account-name') Account Name:
                      .col-md-9
                        label.field.prepend-icon(for='account-name')
                          input#account-name.gui-input(type='text', name='account-name', value='OwnerAccountName')
                          label.field-icon(for='account-name')
                            i.fa.fa-home
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='account-email') Account Email:
                      .col-md-9
                        label.field.prepend-icon(for='account-email')
                          input#account-email.gui-input(type='email', name='account-email', value='owner@store.com')
                          label.field-icon(for='account-email')
                            i.fa.fa-envelope-o
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='account-phone') Account Phone:
                      .col-md-9
                        label.field.prepend-icon(for='account-phone')
                          input#account-phone.gui-input(type='text', name='account-phone', value='888-888-8888', placeholder='')
                          label.field-icon(for='account-phone')
                            i.fa.fa-phone
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='store-timezone') Store Timezone:
                      .col-md-9
                        label.field.select
                          select#store-timezone(name='store-timezone')
                            option(value='0', selected='selected') (GMT-8h) US/Pacific
                            option(value='1') (GMT-11h) Pacific/Samoa
                            option(value='2') (GMT-10h) Pacific/Johnston
                            option(value='3') (GMT-8h) Canada/Pacific
                            option(value='4') (GMT+10h) Pacific/Truk
                          i.arrow.double
              // Store Information
              .panel.panel-info.panel-border.top.mb35
                .panel-heading
                  span.panel-title Store Information
                .panel-body.bg-white
                  .admin-form
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='business-name') Business Name:
                      .col-md-9
                        label.field.prepend-icon(for='business-name')
                          input#business-name.gui-input(type='text', name='business-name', placeholder='TemplateMonster')
                          label.field-icon(for='business-name')
                            i.fa.fa-home
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='business-phone') Business Phone:
                      .col-md-9
                        label.field.prepend-icon(for='business-phone')
                          input#business-phone.gui-input(type='text', name='business-phone', value='888-888-8888')
                          label.field-icon(for='business-phone')
                            i.fa.fa-phone
                    hr.short.alt
                    .section
                      label.field.prepend-icon(for='lastaddr')
                        input#lastaddr.gui-input(type='text', name='lastaddr', placeholder='Street address 2')
                        label.field-icon(for='lastaddr')
                          i.fa.fa-map-marker
                    .section
                      label.field.select
                        select#location(name='location')
                          option(value='') Select country...
                          option(value='AL') Albania
                          option(value='DZ') Algeria
                          option(value='AD') Andorra
                          option(value='AO') Angola
                          option(value='AI') Anguilla
                          option(value='AG') Antigua and Barbuda
                          option(value='AR') Argentina
                          option(value='AM') Armenia
                          option(value='AW') Aruba
                          option(value='AU') Australia
                          option(value='AT') Austria
                          option(value='AZ') Azerbaijan Republic
                          option(value='BS') Bahamas
                          option(value='BH') Bahrain
                          option(value='BB') Barbados
                          option(value='BE') Belgium
                          option(value='BZ') Belize
                          option(value='BJ') Benin
                          option(value='BM') Bermuda
                          option(value='BT') Bhutan
                          option(value='BO') Bolivia
                          option(value='BA') Bosnia and Herzegovina
                          option(value='BW') Botswana
                          option(value='BR') Brazil
                          option(value='BN') Brunei
                          option(value='BG') Bulgaria
                          option(value='BF') Burkina Faso
                          option(value='BI') Burundi
                          option(value='KH') Cambodia
                          option(value='CA') Canada
                          option(value='CV') Cape Verde
                          option(value='KY') Cayman Islands
                          option(value='TD') Chad
                          option(value='CL') Chile
                          option(value='C2') China Worldwide
                          option(value='CO') Colombia
                          option(value='KM') Comoros
                          option(value='CK') Cook Islands
                          option(value='CR') Costa Rica
                          option(value='HR') Croatia
                          option(value='CY') Cyprus
                          option(value='CZ') Czech Republic
                          option(value='CD') Democratic Republic of the Congo
                          option(value='DK') Denmark
                          option(value='DJ') Djibouti
                          option(value='DM') Dominica
                          option(value='DO') Dominican Republic
                          option(value='EC') Ecuador
                          option(value='EG') Egypt
                          option(value='SV') El Salvador
                          option(value='ER') Eritrea
                          option(value='EE') Estonia
                          option(value='ET') Ethiopia
                          option(value='FK') Falkland Islands
                          option(value='FO') Faroe Islands
                          option(value='FJ') Fiji
                          option(value='FI') Finland
                          option(value='FR') France
                          option(value='GF') French Guiana
                          option(value='PF') French Polynesia
                          option(value='GA') Gabon Republic
                          option(value='GM') Gambia
                          option(value='GE') Georgia
                          option(value='DE') Germany
                          option(value='GI') Gibraltar
                          option(value='GR') Greece
                          option(value='GL') Greenland
                          option(value='GD') Grenada
                          option(value='GP') Guadeloupe
                          option(value='GT') Guatemala
                          option(value='GN') Guinea
                          option(value='GW') Guinea Bissau
                          option(value='GY') Guyana
                          option(value='HN') Honduras
                          option(value='HK') Hong Kong
                          option(value='HU') Hungary
                          option(value='IS') Iceland
                          option(value='IN') India
                          option(value='ID') Indonesia
                          option(value='IE') Ireland
                          option(value='IL') Israel
                          option(value='IT') Italy
                          option(value='JM') Jamaica
                          option(value='JP') Japan
                          option(value='JO') Jordan
                          option(value='KZ') Kazakhstan
                          option(value='KE') Kenya
                          option(value='KI') Kiribati
                          option(value='KW') Kuwait
                          option(value='KG') Kyrgyzstan
                          option(value='LA') Laos
                          option(value='LV') Latvia
                          option(value='LS') Lesotho
                          option(value='LI') Liechtenstein
                          option(value='LT') Lithuania
                          option(value='LU') Luxembourg
                          option(value='MG') Madagascar
                          option(value='MW') Malawi
                          option(value='MY') Malaysia
                          option(value='MV') Maldives
                          option(value='ML') Mali
                          option(value='MT') Malta
                          option(value='MH') Marshall Islands
                          option(value='MQ') Martinique
                          option(value='MR') Mauritania
                          option(value='MU') Mauritius
                          option(value='YT') Mayotte
                          option(value='MX') Mexico
                          option(value='FM') Micronesia
                          option(value='MN') Mongolia
                          option(value='MS') Montserrat
                          option(value='MA') Morocco
                          option(value='MZ') Mozambique
                          option(value='NA') Namibia
                          option(value='NR') Nauru
                          option(value='NP') Nepal
                          option(value='NL') Netherlands
                          option(value='AN') Netherlands Antilles
                          option(value='NC') New Caledonia
                          option(value='NZ') New Zealand
                          option(value='NI') Nicaragua
                          option(value='NE') Niger
                          option(value='NU') Niue
                          option(value='NF') Norfolk Island
                          option(value='NO') Norway
                          option(value='OM') Oman
                          option(value='PW') Palau
                          option(value='PA') Panama
                          option(value='PG') Papua New Guinea
                          option(value='PE') Peru
                          option(value='PH') Philippines
                          option(value='PN') Pitcairn Islands
                          option(value='PL') Poland
                          option(value='PT') Portugal
                          option(value='QA') Qatar
                          option(value='CG') Republic of the Congo
                          option(value='RE') Reunion
                          option(value='RO') Romania
                          option(value='RU') Russia
                          option(value='RW') Rwanda
                          option(value='KN') Saint Kitts and Nevis Anguilla
                          option(value='PM') Saint Pierre and Miquelon
                          option(value='VC') Saint Vincent and Grenadines
                          option(value='WS') Samoa
                          option(value='SM') San Marino
                          option(value='ST') São Tomé and Príncipe
                          option(value='SA') Saudi Arabia
                          option(value='SN') Senegal
                          option(value='RS') Serbia
                          option(value='SC') Seychelles
                          option(value='SL') Sierra Leone
                          option(value='SG') Singapore
                          option(value='SK') Slovakia
                          option(value='SI') Slovenia
                          option(value='SB') Solomon Islands
                          option(value='SO') Somalia
                          option(value='ZA') South Africa
                          option(value='KR') South Korea
                          option(value='ES') Spain
                          option(value='LK') Sri Lanka
                          option(value='SH') St. Helena
                          option(value='LC') St. Lucia
                          option(value='SR') Suriname
                          option(value='SJ') Svalbard and Jan Mayen Islands
                          option(value='SZ') Swaziland
                          option(value='SE') Sweden
                          option(value='CH') Switzerland
                          option(value='TW') Taiwan
                          option(value='TJ') Tajikistan
                          option(value='TZ') Tanzania
                          option(value='TH') Thailand
                          option(value='TG') Togo
                          option(value='TO') Tonga
                          option(value='TT') Trinidad and Tobago
                          option(value='TN') Tunisia
                          option(value='TR') Turkey
                          option(value='TM') Turkmenistan
                          option(value='TC') Turks and Caicos Islands
                          option(value='TV') Tuvalu
                          option(value='UG') Uganda
                          option(value='UA') Ukraine
                          option(value='AE') United Arab Emirates
                          option(value='GB') United Kingdom
                          option(value='US') United States
                          option(value='UY') Uruguay
                          option(value='VU') Vanuatu
                          option(value='VA') Vatican City State
                          option(value='VE') Venezuela
                          option(value='VN') Vietnam
                          option(value='VG') Virgin Islands (British)
                          option(value='WF') Wallis and Futuna Islands
                          option(value='YE') Yemen
                          option(value='ZM') Zambia
                        i.arrow.double
                    .section.row.mbn
                      .col-sm-3
                        label.field.prepend-icon(for='zip')
                          input#zip.gui-input(type='text', name='zip', placeholder='Zip')
                          label.field-icon(for='zip')
                            i.fa.fa-certificate
                      .col-sm-4.mt-10.mt-sm-0
                        label.field.prepend-icon(for='city')
                          input#city.gui-input(type='text', name='city', placeholder='City')
                          label.field-icon(for='city')
                            i.fa.fa-building-o
                      .col-sm-5.mt-10.mt-sm-0
                        label.field.select(for='states')
                          select#states(name='states')
                            option(value='') Choose state
                            option(value='AL') Alabama
                            option(value='AK') Alaska
                            option(value='AZ') Arizona
                            option(value='AR') Arkansas
                            option(value='CA') California
                            option(value='CO') Colorado
                            option(value='CT') Connecticut
                            option(value='DE') Delaware
                            option(value='DC') District Of Columbia
                            option(value='FL') Florida
                            option(value='GA') Georgia
                            option(value='HI') Hawaii
                            option(value='ID') Idaho
                            option(value='IL') Illinois
                            option(value='IN') Indiana
                            option(value='IA') Iowa
                            option(value='KS') Kansas
                            option(value='KY') Kentucky
                            option(value='LA') Louisiana
                            option(value='ME') Maine
                            option(value='MD') Maryland
                            option(value='MA') Massachusetts
                            option(value='MI') Michigan
                            option(value='MN') Minnesota
                            option(value='MS') Mississippi
                            option(value='MO') Missouri
                            option(value='MT') Montana
                            option(value='NE') Nebraska
                            option(value='NV') Nevada
                            option(value='NH') New Hampshire
                            option(value='NJ') New Jersey
                            option(value='NM') New Mexico
                            option(value='NY') New York
                            option(value='NC') North Carolina
                            option(value='ND') North Dakota
                            option(value='OH') Ohio
                            option(value='OK') Oklahoma
                            option(value='OR') Oregon
                            option(value='PA') Pennsylvania
                            option(value='RI') Rhode Island
                            option(value='SC') South Carolina
                            option(value='SD') South Dakota
                            option(value='TN') Tennessee
                            option(value='TX') Texas
                            option(value='UT') Utah
                            option(value='VT') Vermont
                            option(value='VA') Virginia
                            option(value='WA') Washington
                            option(value='WV') West Virginia
                            option(value='WI') Wisconsin
                            option(value='WY') Wyoming
                          i.arrow.double
              // Store Settings
              .panel.panel-primary.panel-border.top.mb35
                .panel-heading
                  span.panel-title Store Settings
                .panel-body.bg-white
                  .admin-form
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='names') Store Timezone:
                      .col-md-9
                        label.field.select
                          select#set-location(name='set-location')
                            option(value='0', selected='selected') (GMT-8h) US/Pacific
                            option(value='1') (GMT-11h) Pacific/Samoa
                            option(value='2') (GMT-10h) Pacific/Johnston
                            option(value='3') (GMT-8h) Canada/Pacific
                            option(value='4') (GMT+10h) Pacific/Truk
                          i.arrow.double
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='store-currency') Store Currency:
                      .col-md-9
                        label.field.prepend-icon(for='store-currency')
                          input#store-currency.gui-input(type='text', name='store-currency', value='', placeholder='United States Dollar')
                          label.field-icon(for='store-currency')
                            i.fa.fa-usd
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='store-units') Store Unit System:
                      .col-md-9
                        label.field.prepend-icon(for='store-units')
                          input#store-units.gui-input(type='text', name='store-units', value='', placeholder='Metric System')
                          label.field-icon(for='store-units')
                            i.fa.fa-exchange
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='store-weight') Store Weight Unit:
                      .col-md-9
                        label.field.prepend-icon(for='store-weight')
                          input#store-weight.gui-input(type='text', name='store-weight', value='', placeholder='Pound(lb)')
                          label.field-icon(for='store-weight')
                            i.fa.fa-anchor
                    .section.row.mb10
                      label.field-label.col-md-3.text-center(for='store-desc') Store Description:
                      .col-md-9
                        label.field.prepend-icon
                          textarea#store-desc.gui-textarea(name='store-desc', placeholder='Store Description and Purposes')
                          label.field-icon(for='store-desc')
                            i.fa.fa-edit
              // Store Policies
              .panel.panel-success.panel-border.top.mb35
                .panel-heading
                  span.panel-title Store Policies
                .panel-body.bg-white
                  .admin-form
                    .section.row.mb25
                      label.field-label.col-md-3.text-center(for='refund-policy') Refund Policy
                      .col-md-9
                        label.field.prepend-icon
                          textarea#refund-policy.gui-textarea(name='refund-policy', placeholder='Describe your return policy and conditions here...')
                          label.field-icon(for='refund-policy')
                            i.fa.fa-usd
                    .section.row.mb25
                      label.field-label.col-md-3.text-center(for='privacy-policy') Privacy Policy
                      .col-md-9
                        label.field.prepend-icon
                          textarea#privacy-policy.gui-textarea(name='privacy-policy', placeholder='Describe the data your store, collect, and handle here...')
                          label.field-icon(for='privacy-policy')
                            i.fa.fa-edit
                    .section.row.mb15
                      label.field-label.col-md-3.text-center(for='store-tos') Terms of Service
                      .col-md-9
                        label.field.prepend-icon
                          textarea#store-tos.gui-textarea(name='store-tos', placeholder='Describe any business protocols or methodologies here...')
                          label.field-icon(for='store-tos')
                            i.fa.fa-edit
              // Request Google Analytics
              .panel.panel-system.panel-border.top.mb35
                .panel-heading
                  span.panel-title Google Analytics
                .panel-body.bg-white
                  .admin-form
                    h5.text-muted.fw400.mb10
                      | Google Analytics account
                      small (how do I set this up?)
                    .section.mbn
                      label.field.prepend-icon
                        textarea#google-insert.gui-textarea(name='google-insert', placeholder='Paste your code from Google here')
                        label.field-icon(for='google-insert')
                          i.fa.fa-google
          // begin: .tray-right
          aside.tray.tray-right.tray290(data-tray-height='match')
            // menu quick links
            .admin-form
              h4  StoreFront Options
              hr.short
              h5
                small Store Name
              .section.mb15
                label.field.prepend-icon(for='store-name')
                  input#store-name.gui-input(type='text', name='store-name', value='My Online Store')
                  label.field-icon(for='store-name')
                    i.fa.fa-home
              h5
                small Store URL
              .section.mb15
                label.field.prepend-icon(for='store-url')
                  input#store-url.gui-input(type='text', name='store-url', value='http://myonlinestore.com')
                  label.field-icon(for='store-url')
                    i.fa.fa-globe
              hr.short.alt.br-light
              h5
                small Store Image
              .fileupload.fileupload-new(data-provides='fileupload')
                .fileupload-preview.thumbnail.mb20
                  img(data-src='holder.js/100%x120', alt='holder')
                span.btn.btn-default.light.btn-file.btn-block.ph5
                  span.fileupload-new Change
                  span.fileupload-exists Change
                  input(type='file')
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // select dropdowns - placeholder like creation
        var selectList = $('.admin-form select');
        selectList.each(function (i, e) {
          $(e).on('change', function () {
            if ($(e).val() == "0") $(e).addClass("empty");
            else $(e).removeClass("empty")
          });
        });
        selectList.each(function (i, e) {
          $(e).change();
        });
      });