extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/tagmanager.css')
  link(rel='stylesheet', type='text/css', href='plugins/css/daterangepicker.css')
  link(rel='stylesheet', type='text/css', href='plugins/css/bootstrap-datetimepicker.css')
  link(rel='stylesheet', type='text/css', href='plugins/css/bootstrap-colorpicker.min.css')
  link(rel='stylesheet', type='text/css', href='plugins/css/core.css')

block body
  body.form-plugins-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .br-b-ddd.panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('form_plugins.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.bg-white.alt
          .topbar-left
            ol.breadcrumb.mt10
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        #content.animated.fadeIn
          .row
            .col-md-6
              // Plugin: Bootstrap Multiselect
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Bootstrap Multiselect
                .panel-body
                  .row
                    .col-sm-7
                      form.form-horizontal(role='form')
                        .form-group
                          label.col-md-3.control-label(for='multiselect1') Single
                          .col-md-8.caret-abs
                            select#multiselect1
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella', selected='') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
                        .form-group
                          label.col-md-3.control-label(for='multiselect2') Multiple
                          .col-md-8.caret-abs
                            select#multiselect2(multiple='multiple')
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
                        .form-group
                          label.col-md-3.control-label(for='multiselect3') With Labels
                          .col-md-8.caret-abs
                            select#multiselect3.multiselect-withlabels(multiple='multiple')
                              optgroup(label='Mathematics')
                                option(value='analysis') Analysis
                                option(value='discrete') Discrete Mathematics
                                option(value='probability') Probability Theory
                              optgroup(label='Computer Science')
                                option(value='programming') Introduction to Programming
                                option(value='automata') Automata Theory
                                option(value='complexity') Complexity Theory
                        .form-group
                          label.col-md-3.control-label(for='multiselect4') With Sorting
                          .col-md-8.caret-abs
                            select#multiselect4(multiple='multiple')
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
                    .col-sm-5
                      form.form-horizontal(role='form')
                        .form-group
                          .col-md-12.caret-abs
                            select#multiselect5
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella', selected='') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
                        .form-group
                          .col-md-12.caret-abs
                            select#multiselect6(multiple='multiple')
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
                        .form-group
                          .col-md-12.caret-abs
                            select#multiselect7.multiselect-withlabels(multiple='multiple')
                              optgroup(label='Mathematics')
                                option(value='analysis') Analysis
                                option(value='discrete') Discrete Mathematics
                                option(value='probability') Probability Theory
                              optgroup(label='Computer Science')
                                option(value='programming') Introduction to Programming
                                option(value='automata') Automata Theory
                                option(value='complexity') Complexity Theory
                        .form-group
                          .col-md-12.caret-abs
                            select#multiselect8(multiple='multiple')
                              option(value='cheese') Cheese
                              option(value='tomatoes') Tomatoes
                              option(value='mozarella') Mozzarella
                              option(value='mushrooms') Mushrooms
                              option(value='pepperoni') Pepperoni
                              option(value='onions') Onions
              // Plugin: Dual Select List
              .panel
                form#demoform.hide-list-label(action='#', method='post')
                  .br-b-ddd.panel-heading
                    span.panel-title  Dual Select Listbox
                  .panel-body.p25
                    select.demo1(multiple='multiple', size='10', name='demo1')
                      option(value='option1') Option 1
                      option(value='option2') Option 2
                      option(value='option3') Option 3
                      option(value='option4') Option 4
                      option(value='option5') Option 5
                      option(value='option6') Option 6
                      option(value='option7') Option 7
                      option(value='option8') Option 8
                      option(value='option9') Option 9
                      option(value='option10') Option 10
                      option(value='option11') Option 11
                      option(value='option12') Option 12
                  .panel-footer.text-right
                    button.btn.btn-default.ph25(type='submit') Submit Data
              // Plugin: Field Maxlength
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title  Input Field Max Length
                .panel-body.p25
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-xs-offset-2.col-md-offset-0.col-md-3.control-label Input Max Length
                      .col-md-offset-0.col-xs-8.col-xs-offset-2.mt-md-0.mt-10
                        input.form-control(type='text', maxlength='15', placeholder='Max length of 15 characters..')
              // Plugin: Typeahead Input
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title  Typeahead Inputs
                .panel-body.p25
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label Try Me
                      .col-md-8
                        input#test-field.form-control.typeahead(type='text', placeholder='States of USA')
              // Plugin: Spinner Fields
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Spinner Fields
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-2.control-label(for='spinner1') Default
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-level-up
                          input#spinner1.form-control.ui-spinner-input(name='spinner', value='15')
                    .form-group
                      label.col-lg-2.control-label(for='spinner2') Currency
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-usd
                          input#spinner2.form-control.ui-spinner-input(name='spinner', value='35')
                    .form-group
                      label.col-lg-2.control-label(for='spinner3') Decimal
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-signal
                          input#spinner3.form-control.ui-spinner-input(name='spinner', value='13.5')
                    .form-group
                      label.col-lg-2.control-label(for='spinner4') Time
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-clock-o
                          input#spinner4.form-control.ui-spinner-input(name='spinner', value='08:30 PM')
              // Plugin: Masked Fields
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Masked Input Fields
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-2.control-label(for='maskedDate') Date
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-calendar
                          input#maskedDate.form-control.date(type='text', maxlength='10', autocomplete='off', placeholder='11/11/1111')
                    .form-group
                      label.col-lg-2.control-label(for='maskedTime') Time
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-clock-o
                          input#maskedTime.form-control.time(type='text', maxlength='10', autocomplete='off', placeholder='00:00:00')
                    .form-group
                      label.col-lg-2.control-label(for='maskedMultiple') Date and Time
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-clock-o
                          input#maskedMultiple.form-control.date_time(type='text', maxlength='10', autocomplete='off', placeholder='99/99/9999 00:00:00')
                    .form-group
                      label.col-lg-2.control-label(for='maskedZip') Zip Code
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-bolt
                          input#maskedZip.form-control.zip(type='text', maxlength='10', autocomplete='off', placeholder='99999-999')
                    .form-group
                      label.col-lg-2.control-label(for='maskedPhone') Phone
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-phone
                          input#maskedPhone.form-control.phone(type='text', maxlength='10', autocomplete='off', placeholder='(999) 999-9999')
                    .form-group
                      label.col-lg-2.control-label(for='maskedExt') Phone + Ext
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-phone
                          input#maskedExt.form-control.phoneext(type='text', maxlength='10', autocomplete='off', placeholder='9999-9999')
                    .form-group
                      label.col-lg-2.control-label(for='maskedMoney') Money
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-usd
                          input#maskedMoney.form-control.money(type='text', maxlength='10', autocomplete='off', placeholder='000.000.000.000')
                    .form-group
                      label.col-lg-2.control-label(for='maskedKey') Product Key
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-key
                          input#maskedKey.form-control.product(type='text', maxlength='10', autocomplete='off', placeholder='000.000.000.000,00')
                    .form-group
                      label.col-lg-2.control-label(for='maskedID') Tax ID
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-gavel
                          input#maskedID.form-control.tin(type='text', maxlength='10', autocomplete='off', placeholder='99999-999')
                    .form-group
                      label.col-lg-2.control-label(for='maskedSSN') SSN
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-exclamation
                          input#maskedSSN.form-control.ssn(type='text', maxlength='10', autocomplete='off', placeholder='999-99-9999')
                    .form-group
                      label.col-lg-2.control-label(for='maskedScript') Eye Script
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-eye
                          input#maskedScript.form-control.eyescript(type='text', maxlength='10', autocomplete='off', placeholder='0ZZ.0ZZ.0ZZ.0ZZ')
                    .form-group
                      label.col-lg-2.control-label(for='maskedCustom') Custom
                      .col-lg-9
                        .input-group
                          span.input-group-addon
                            i.fa.fa-flask
                          input#maskedCustom.form-control.custom(type='text', maxlength='10', autocomplete='off', placeholder='1-22-333-4444')
            .col-md-6
              // Plugin: Select2 Multiselect
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title  Select2 Multiselect
                .panel-body.p25.pb10
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label Single Select
                      .col-md-8
                        select.select2-single.form-control
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
                    .form-group
                      label.col-md-3.control-label Multiple Select
                      .col-md-8
                        select.select2-multiple.form-control.select-primary(multiple='multiple')
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
                  hr.alt.short
                  .row
                    .col-md-6
                      .form-group
                        select.select2-primary.form-control
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
                      .form-group
                        select.select2-info.form-control
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
                    .col-md-6
                      .form-group
                        select.select2-success.form-control
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
                      .form-group
                        select.select2-warning.form-control
                          option(value='CA') California
                          option(value='AL') Alabama
                          option(value='WY') Wyoming
              // Plugin: Tag Manager
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Tag manager
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group.mbn
                      label.col-md-2.control-label(for='tagmanager') Tag Field
                      .col-md-10
                        input#tagmanager.form-control.tm-input(type='text', placeholder='Create a new tag..')
                        .tag-container.tags
                .panel-footer
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-2.control-label.pt20(for='tagmanager2') Tag Options
                      .col-md-10
                        .mt15
                          span.tm-tag.tm-tag-primary
                            span Primary Tag
                          span.tm-tag.tm-tag-success
                            span Success Tag
                          span.tm-tag.tm-tag-info
                            span Info Tag
                          span.tm-tag.tm-tag-warning
                            span Warning Tag
                          span.tm-tag.tm-tag-danger
                            span Danger Tag
                          span.tm-tag.tm-tag-alert
                            span Alert Tag
                          span.tm-tag.tm-tag-system
                            span System Tag
                          span.tm-tag.tm-tag-inverse
                            span Inverse Tag
              // Plugin: Color Picker
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Color Picker
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-3.control-label.pt5(for='cp1') Static
                      .col-lg-9
                        a#demo_apidemo.btn.btn-sm.btn-default.demo.form-control-static.ib(href='#', data-color='#5384ce') Click to open me!
                    .form-group
                      label.col-md-3.control-label(for='cp2') Default Field
                      .col-md-8
                        input.form-control.demo.demo-1.demo-auto(type='text', value='#5367ce')
                    .form-group
                      label.col-md-3.control-label(for='cp3') Component Field
                      .col-md-8
                        .input-group.colorpicker-component.demo.demo-auto.cursor
                          span.input-group-addon
                            i
                          input.form-control(type='text', value='')
                .panel-footer.pt25
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-2.control-label Inline
                      .col-md-10.mt10
                        .demo.demo-auto.ib.ml15.mr30(data-container='true', data-color='#5384ce', data-inline='true')
                        #demo_cont.demo.demo-auto.ib(data-container='#demo_cont', data-color='rgba(83,167,206,1)', data-inline='true')
                  .clearfix
              // Plugin: Daterange Picker
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Date Range Picker
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label(for='daterangepicker1') Default Field
                      .col-md-8
                        input#daterangepicker1.form-control.pull-right(type='text', name='daterange')
                    .form-group
                      label.col-md-3.control-label(for='daterangepicker2') Component Field
                      .col-md-8
                        #daterangepicker2.input-group.date.pull-right
                          input.form-control(type='text')
                          span.input-group-addon.cursor
                            i.fa.fa-calendar
              // Plugin: Datetime Picker
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Date/Time Picker
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group.mt10
                      label.col-md-3.control-label(for='datetimepicker1') Default Field
                      .col-md-8
                        input#datetimepicker1.form-control(type='text')
                    .form-group
                      label.col-md-3.control-label(for='datetimepicker2') Component Field
                      .col-md-8
                        #datetimepicker2.input-group.date
                          span.input-group-addon.cursor
                            i.fa.fa-calendar
                          input.form-control(type='text')
                .panel-footer.pt25
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label Inline Picker
                      .col-md-8
                        #datetimepicker3
                          input.form-control(type='text', style='max-width: 250px;')
                  .clearfix
              // Plugin: Time Picker
              .panel
                .br-b-ddd.panel-heading
                  span.panel-title Time Picker
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group.mt10
                      label.col-md-3.control-label(for='datetimepicker5') Default Field
                      .col-md-8
                        input#datetimepicker5.form-control(type='text')
                    .form-group
                      label.col-md-3.control-label(for='datetimepicker6') Component Field
                      .col-md-8
                        #datetimepicker6.input-group.date
                          span.input-group-addon.cursor
                            i.fa.fa-calendar
                          input.form-control(type='text')
                .panel-footer.pt25
                  form.form-horizontal(role='form')
                    .form-group.mt10
                      label.col-md-3.control-label(for='datetimepicker7') Inline Time
                      .col-md-8
                        #datetimepicker7.timepicker-sm
                          input.form-control(type='text', style='max-width: 250px;')
                  .clearfix
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // jQuery
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init Select2 - Basic Single
        $(".select2-single").select2();
        // Init Select2 - Basic Multiple
        $(".select2-multiple").select2({
          placeholder: "Select a state",
          allowClear: true
        });
        // Init Select2 - Contextuals (via html classes)
        $(".select2-primary").select2(); // select2 contextual - primary
        $(".select2-success").select2(); // select2 contextual - success
        $(".select2-info").select2();    // select2 contextual - info
        $(".select2-warning").select2(); // select2 contextual - warning
        // Init Bootstrap Maxlength Plugin
        $('input[maxlength]').maxlength({
          threshold: 15,
          placement: "right"
        });
        // Dual List Plugin Init
        var demo1 = $('.demo1').bootstrapDualListbox({
          nonSelectedListLabel: 'Options',
          selectedListLabel: 'Selected',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: true,
          nonSelectedFilter: 'ion ([7-9]|[1][0-2])'
        });
        $("#demoform").submit(function () {
          alert("Options Selected: " + $('.demo1').val());
          return false;
        });
        // Init Twitter Typeahead.js
        var substringMatcher = function (strs) {
          return function findMatches(q, cb) {
            var matches, substrRegex;
            // an array that will be populated with substring matches
            matches = [];
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
              if (substrRegex.test(str)) {
                // the typeahead jQuery plugin expects suggestions to a
                // JavaScript object, refer to typeahead docs for more info
                matches.push({
                  value: str
                });
              }
            });
            cb(matches);
          };
        };
        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
          'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
          'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
          'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
          'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
          'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
          'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
          'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
          'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];
        // Init Typeahead Plugin with state aray
        $('.typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        }, {
          name: 'states',
          displayKey: 'value',
          source: substringMatcher(states)
        });
        // DateRange plugin options
        var rangeOptions = {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
            'Last 7 Days': [moment().subtract('days', 6), moment()],
            'Last 30 Days': [moment().subtract('days', 29), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
          },
          startDate: moment().subtract('days', 29),
          endDate: moment()
        }
        // Init DateRange plugin
        $('#daterangepicker1').daterangepicker();
        // Init DateRange plugin
        $('#daterangepicker2').daterangepicker(
                rangeOptions,
                function (start, end) {
                  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
        );
        // Init DateRange plugin
        $('#inline-daterange').daterangepicker(
                rangeOptions,
                function (start, end) {
                  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
        );
        // Init DateTimepicker - fields
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        // Init DateTimepicker - inline + range detection
        $('#datetimepicker3').datetimepicker({
          defaultDate: "9/4/2014",
          inline: true,
        });
        // Init DateTimepicker - fields + Date disabled (only time picker)
        $('#datetimepicker5').datetimepicker({
          defaultDate: "9/25/2014",
          pickDate: false,
        });
        // Init DateTimepicker - fields + Date disabled (only time picker)
        $('#datetimepicker6').datetimepicker({
          defaultDate: "9/25/2014",
          pickDate: false,
        });
        // Init DateTimepicker - inline + Date disabled (only time picker)
        $('#datetimepicker7').datetimepicker({
          defaultDate: "9/25/2014",
          pickDate: false,
          inline: true
        });
        // Init Colorpicker plugin
        $('#demo_apidemo').colorpicker({
          color: bgPrimary
        });
        $('.demo-auto').colorpicker();
        // Init jQuery Tags Manager
        $(".tm-input").tagsManager({
          tagsContainer: '.tags',
          prefilled: ["Miley Cyrus", "Apple", "A Long Tag", "Na uh"],
          tagClass: 'tm-tag-info',
        });
        // Init Boostrap Multiselects
        $('#multiselect1').multiselect();
        $('#multiselect2').multiselect({
          includeSelectAllOption: true
        });
        $('#multiselect3').multiselect();
        $('#multiselect4').multiselect({
          enableFiltering: true,
        });
        $('#multiselect5').multiselect({
          buttonClass: 'multiselect dropdown-toggle btn btn-primary'
        });
        $('#multiselect6').multiselect({
          buttonClass: 'multiselect dropdown-toggle btn btn-info'
        });
        $('#multiselect7').multiselect({
          buttonClass: 'multiselect dropdown-toggle btn btn-success'
        });
        $('#multiselect8').multiselect({
          buttonClass: 'multiselect dropdown-toggle btn btn-warning'
        });
        // Init jQuery spinner init - default
        $("#spinner1").spinner();
        // Init jQuery spinner init - currency
        $("#spinner2").spinner({
          min: 5,
          max: 2500,
          step: 25,
          start: 1000,
          //numberFormat: "C"
        });
        // Init jQuery spinner init - decimal
        $("#spinner3").spinner({
          step: 0.01,
          numberFormat: "n"
        });
        // jQuery Time Spinner settings
        $.widget("ui.timespinner", $.ui.spinner, {
          options: {
            // seconds
            step: 60 * 1000,
            // hours
            page: 60
          },
          _parse: function (value) {
            if (typeof value === "string") {
              // already a timestamp
              if (Number(value) == value) {
                return Number(value);
              }
              return +Globalize.parseDate(value);
            }
            return value;
          },
          _format: function (value) {
            return Globalize.format(new Date(value), "t");
          }
        });
        // Init jQuery Time Spinner
        $("#spinner4").timespinner();
        // Init jQuery Masked inputs
        $('.date').mask('99/99/9999');
        $('.time').mask('99:99:99');
        $('.date_time').mask('99/99/9999 99:99:99');
        $('.zip').mask('99999-999');
        $('.phone').mask('(999) 999-9999');
        $('.phoneext').mask("(999) 999-9999 x99999");
        $(".money").mask("999,999,999.999");
        $(".product").mask("999.999.999.999");
        $(".tin").mask("99-9999999");
        $(".ssn").mask("999-99-9999");
        $(".ip").mask("9ZZ.9ZZ.9ZZ.9ZZ");
        $(".eyescript").mask("~9.99 ~9.99 999");
        $(".custom").mask("9.99.999.9999");
      });