extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/ui.fancytree.min.css')

block body
  body.form-treeview-page(data-spy='scroll', data-target='#nav-spy', data-offset='300')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('form_treeview.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.bg-white.alt.br-b-ddd
          .topbar-left
            ol.breadcrumb.mt-10
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray320(data-tray-height='match')
            #nav-spy
              ul.nav.tray-nav(data-smoothscroll='-90', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#p1')
                    span.fa.fa-check.fa-lg
                    |  Default Treeview
                li
                  a(href='#p2')
                    span.fa.fa-coffee.fa-lg
                    |  Treeview With Icons
                li
                  a(href='#p3')
                    span.fa.fa-check-square-o.fa-lg
                    |  Treeview With Inputs
                li
                  a(href='#p4')
                    span.fa.fa-filter.fa-lg
                    |  Treeview Filtering
                li
                  a(href='#p5')
                    span.fa.fa-table.fa-lg
                    |  ColumnView Option
                li
                  a(href='#p6')
                    span.fa.fa-hand-o-up.fa-lg
                    |  Drag and Drop
                li
                  a(href='#p7')
                    span.fa.fa-pencil-square-o.fa-lg
                    |  Inline Editing
          // begin: .tray-center
          .tray.tray-center
            .panel.panel-primary.panel-border.top
              .panel-heading
                span.panel-title  Default Treeview
              .panel-body.bg-light.dark
                #tree
                  ul#treeData(style='display: none;')
                    li#1 Node 1
                    li#2.folder.expanded.active
                      | Folder 1
                      ul
                        li#3 Node 2.1
                        li#4 Node 2.2
            .panel.mt30
              .panel-heading
                span.panel-title  Treeview with Icons
              .panel-body
                #tree2
                  ul#treeData(style='display: none;')
                    li(id='2.1') Node 2.1
                    li.folder.expanded(id='2.2')
                      | Folder 1
                      ul
                        li(id='2.3') Node 2.3
                        li(id='2.4') Node 2.4
              .panel-body.bg-light
                h5.text-muted.mtn  Treeview with Submenu Child Count
                #tree5.fancytree-radio
                  ul#treeData(style='display: none;')
                    li.folder.expanded(id='5.7')
                      | Folder 1
                      ul
                        li(id='5.8')
                          | Sub-Folder 1
                          ul
                            li(id='5.81') Node 5.6
                            li(id='5.82') Node 5.7
                        li(id='5.9')
                          | Sub-Folder 2
                          ul
                            li(id='5.91') Node 5.6
                            li(id='5.92') Node 5.7
                            li(id='5.93') Node 5.6
                            li(id='5.94') Node 5.7
                    li(id='5.0') Node 5.1
                    li(id='5.1') Node 5.1
                    li.folder(id='5.2')
                      | Folder 2
                      ul
                        li(id='5.3')
                          | Sub-Folder 1
                          ul
                            li(id='5.31') Node 5.6
                            li(id='5.32') Node 5.6
                            li(id='5.33') Node 5.7
                        li(id='5.4')
                          | Sub-Folder 2
                          ul
                            li(id='5.41') Node 5.6
                            li(id='5.42') Node 5.7
                    li(id='5.5') Node 5.5
            .panel.mt30
              .panel-heading
                span.panel-title  Treeview with Inputs
              .panel-body
                #tree3
                  ul#treeData(style='display: none;')
                    li(id='3.1') Node 3.1
                    li.folder.expanded(id='3.2')
                      | Folder 1
                      ul
                        li(id='3.3') Node 3.3
                        li(id='3.4') Node 3.4
              .panel-body
                #tree4.fancytree-radio
                  ul#treeData(style='display: none;')
                    li(id='4.1') Node 4.1
                    li.folder.expanded(id='4.2')
                      | Folder 1
                      ul
                        li(id='4.3') Node 4.3
                        li(id='4.4') Node 4.4
            .panel.mt30
              .panel-heading
                span.panel-title  Treeview with Filtering
              .panel-body
                .row.mb15
                  .col-xs-8
                    input.form-control(name='search', placeholder='Filter...')
                  .col-xs-4
                    button#btnResetSearch.btn.btn-primary.mr10.ph20
                      | Clear
                      i.fa.fa-remove.pl10
                    span#matches
                p
                  label.mr15(for='hideMode')
                    input#hideMode.mr5.va-t(type='checkbox')
                    |  Hide unmatched nodes
                  label.mr15(for='leavesOnly')
                    input#leavesOnly.mr5.va-t(type='checkbox')
                    |  Leaves only
                  label(for='regex')
                    input#regex.mr5.va-t(type='checkbox')
                    |  Regular expression
                hr.short.alt.mv15
                p#sampleButtons
                // Add a <table> element where the tree should appear:
                #tree8
            .panel.mt30
              .panel-heading.br-b-n
                span.panel-title  ColumnView Option
              .panel-body.pn.br-n.of-a
                table#columnview
                  colgroup
                    col(width='33%')
                    col(width='33%')
                    col(width='33%')
                  tbody
                    tr
                      td ?
                      td ?
                      td ?
                    tr
                      td#tags(colspan='3') Selected nodes:
                    tr
                      td#preview(colspan='3') preview
            .panel.mt30
              .panel-heading
                span.panel-title  Drag and Drop Functionality
              .panel-body
                #tree6
            .panel.mt30
              .panel-heading
                span.panel-title  Inline Editing
              .panel-body
                #tree7
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init FancyTree - Default
        $("#tree").fancytree({
          icons: false, // Display node icons.
          clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
        });
        // Init FancyTree - With Icons
        $("#tree2").fancytree({
          clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
        });
        // Init FancyTree - With Checkboxes
        $("#tree3").fancytree({
          selectMode: 3,
          checkbox: true, // Show checkboxes.
          clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
        });
        // Init FancyTree - With Checkboxes
        $("#tree4").fancytree({
          selectMode: 1,
          checkbox: true, // Show checkboxes Class added to tree html to convert to radios ".fancytree-radio"
          clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
        });
        // Init FancyTree - With Childcounter Extension
        $("#tree5").fancytree({
          extensions: ["childcounter"],
          childcounter: {
            deep: true,
            hideZeros: true,
            hideExpanded: true
          },
        });
        // Attach the fancytree widget to an existing <div id="tree"> element
        // and pass the tree options as an argument to the fancytree() function:
        $("#columnview").fancytree({
          extensions: ["columnview"],
          checkbox: true,
          source: {
            url: "plugins/json/ajax-tree-plain2.json"
          },
          lazyLoad: function (event, data) {
            data.result = {
              url: "plugins/json/ajax-sub2.json"
            };
          },
          activate: function (event, data) {
            $("td#preview").text("activate " + data.node);
          },
          select: function (event, data) {
            // create a tag, when node is selected
            var node = data.node;
            $("span#tag-" + node.key).remove();
            if (node.selected) {
              $("<span>", {
                id: "tag-" + node.key,
                text: node.title,
                "class": "selTag"
              })
                      .data("key", node.key)
                      .appendTo($("td#tags"));
            }
          }
        });
        // Init FancyTree - w/Drag and Drop Functionality
        $("#tree6").fancytree({
          extensions: ["dnd", "edit"],
          // titlesTabbable: true,
          source: {
            url: "plugins/json/ajax-tree-plain.json"
          },
          dnd: {
            autoExpandMS: 400,
            focusOnClick: true,
            preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.
            preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
            dragStart: function (node, data) {
              /** This function MUST be defined to enable dragging for the tree.
               *  Return false to cancel dragging of node.
               */
              return true;
            },
            dragEnter: function (node, data) {
              /** data.otherNode may be null for non-fancytree droppables.
               *  Return false to disallow dropping on node. In this case
               *  dragOver and dragLeave are not called.
               *  Return 'over', 'before, or 'after' to force a hitMode.
               *  Return ['before', 'after'] to restrict available hitModes.
               *  Any other return value will calc the hitMode from the cursor position.
               */
              // Prevent dropping a parent below another parent (only sort
              // nodes under the same parent)
              /*           if(node.parent !== data.otherNode.parent){
               return false;
               }
               // Don't allow dropping *over* a node (would create a child)
               return ["before", "after"];
               */
              return true;
            },
            dragDrop: function (node, data) {
              /** This function MUST be defined to enable dropping of items on
               *  the tree.
               */
              data.otherNode.moveTo(node, data.hitMode);
            }
          },
          activate: function (event, data) {
            //        alert("activate " + data.node);
          },
          lazyLoad: function (event, data) {
            data.result = {
              url: "plugins/json/ajax-sub2.json"
            }
          }
        });
        // Init FancyTree - w/Inline Editing Functionality
        $("#tree7").fancytree({
          extensions: ["edit"],
          source: {
            url: "plugins/json/ajax-tree-plain.json"
          },
          lazyLoad: function (event, data) {
            data.result = {
              url: "ajax-sub2.json",
              debugDelay: 1000
            };
          },
          edit: {
            triggerStart: ["f2", "dblclick", "shift+click", "mac+enter"],
            beforeEdit: function (event, data) {
              // Return false to prevent edit mode
            },
            edit: function (event, data) {
              // Editor was opened (available as data.input)
            },
            beforeClose: function (event, data) {
              // Return false to prevent cancel/save (data.input is available)
            },
            save: function (event, data) {
              // Save data.input.val() or return false to keep editor open
              console.log("save...", this, data);
              // Simulate to start a slow ajax request...
              setTimeout(function () {
                $(data.node.span).removeClass("pending");
                // Let's pretend the server returned a slightly modified
                // title:
                data.node.setTitle(data.node.title + "!");
              }, 2000);
              // We return true, so ext-edit will set the current user input
              // as title
              return true;
            },
            close: function (event, data) {
              // Editor was removed
              if (data.save) {
                // Since we started an async request, mark the node as preliminary
                $(data.node.span).addClass("pending");
              }
            }
          }
        });
        // Attach the fancytree widget to an existing <div id="tree"> element
        // and pass the tree options as an argument to the fancytree() function:
        $("#tree8").fancytree({
          extensions: ["filter"],
          quicksearch: true,
          source: {
            url: "plugins/json/ajax-tree-local.json"
          },
          filter: {
            mode: "hide",
            autoApply: true
          },
          activate: function (event, data) {
            //        alert("activate " + data.node);
          },
          lazyLoad: function (event, data) {
            data.result = {
              url: "plugins/json/ajax-sub2.json"
            }
          }
        });
        var tree = $("#tree8").fancytree("getTree");
        /*
         * Event handlers for our little demo interface
         */
        $("input[name=search]").keyup(function (e) {
          var n,
                  leavesOnly = $("#leavesOnly").is(":checked"),
                  match = $(this).val();
          if (e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === "") {
            $("button#btnResetSearch").click();
            return;
          }
          if ($("#regex").is(":checked")) {
            // Pass function to perform match
            n = tree.filterNodes(function (node) {
              return new RegExp(match, "i").test(node.title);
            }, leavesOnly);
          } else {
            // Pass a string to perform case insensitive matching
            n = tree.filterNodes(match, leavesOnly);
          }
          $("button#btnResetSearch").attr("disabled", false);
          $("span#matches").text("(" + n + " matches)");
        });
        $("button#btnResetSearch").click(function (e) {
          $("input[name=search]").val("");
          $("span#matches").text("");
          tree.clearFilter();
        }).attr("disabled", true);
        tree.options.filter.mode = $("input#hideMode").is(":checked") ? "hide" : "dimm";
        tree.clearFilter();
        $("input#hideMode").change(function (e) {
          tree.options.filter.mode = $(this).is(":checked") ? "hide" : "dimm";
          tree.clearFilter();
          $("input[name=search]").keyup();
        });
        $("input#leavesOnly").change(function (e) {
          // tree.options.filter.leavesOnly = $(this).is(":checked");
          tree.clearFilter();
          $("input[name=search]").keyup();
        });
        $("input#regex").change(function (e) {
          tree.clearFilter();
          $("input[name=search]").keyup();
        });
      });