extends  _skeleton

block body
  body.sb-top.sb-top-lg
    // Start: Main
    #main
      // Page Header horizontal
      block header_horizontal
        include _header_horizontal
      // Start: Sidebar
      aside#sidebar_left
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li
              a(href='index.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a.accordion-toggle.menu-open(href='#')
                span.fa.fa-columns
                span.sidebar-title Layout Templates
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Navbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_navbar-static.html')
                        | Navbar Static
                    li
                      a(href='layout_navbar-fixed.html')
                        | Navbar Fixed
                    li
                      a(href='layout_navbar-menus.html')
                        | Navbar Menus
                    li
                      a(href='layout_navbar-contextual.html')
                        | Contextual Example
                    li
                      a(href='layout_navbar-search-alt.html')
                        | Search Alt Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li.active
                  a.accordion-toggle.menu-open(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li.active
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-usd
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_invoice.html')  Printable Invoice
                    li
                      a(href='pages_blank.html')  Blank
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.hidden
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.animated.fadeIn
          .row
            .col-md-8
              .panel
                .panel-heading
                  span.panel-icon
                  span.panel-title  Panel One
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .col-md-4
              .panel
                .panel-heading
                  span.panel-icon
                  span.panel-title  Panel Two
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
      });