extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/magnific-popup.css')
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.gallery-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('pages_gallery.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        section#content.table-layout.animated.fadeIn
          .tray.tray-center
            .mh15.pv15.br-b.br-light
              .row
                .col-sm-6.col-md-7
                  .mix-controls.ib
                    form#select-filters.controls
                      // We can add an unlimited number of "filter groups" using the following format:
                      .btn-group.ib.mr10
                        button.btn.btn-default.hidden-xs(type='button')
                          span.fa.fa-folder
                        .btn-group
                          fieldset
                            select#filter1
                              option(value='') All Folders
                              option(value='.folder1') Publicity
                              option(value='.folder2') Spain Vacation
                              option(value='.folder3') Sony Demo
                      .btn-group.ib.mr10
                        button.btn.btn-default.hidden-xs(type='button')
                          span.fa.fa-tag
                        .btn-group
                          fieldset
                            select#filter2
                              option(value='') All Labels
                              option(value='.label1') Work
                              option(value='.label3') Clients
                              option(value='.label2') Family
                .mt-10.mt-sm-0.col-sm-6.col-md-5.text-right
                  button#mix-reset.btn.btn-default.mr5(type='button') Clear Filters
                  .btn-group
                    button.btn.btn-default.to-grid(type='button')
                      span.fa.fa-th
                    button.btn.btn-default.to-list(type='button')
                      span.fa.fa-navicon
              .mix-controls.hidden
                form#checkbox-filters.controls.admin-form
                  // We can add an unlimited number of "filter groups" using the following format:
                  fieldset
                    h4 Cars
                    label.option.block.mt10
                      input(type='checkbox', value='.circle')
                      span.checkbox
                      | Circle
                  button#mix-reset2 Clear All
            #mix-container
              .fail-message
                span No items were found matching the selected filters
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='lost_typewritter.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 lost_typewritter.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='stairs-to_soul.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-to_soul.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='why_are_locks.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 why_are_locks.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-danger.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/4.jpg', title='cool_cup.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 cool_cup.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/5.jpg', title='the-beach.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 the-beach.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-system.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='windy_dirtroad.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 windy_dirtroad.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='yosemite_sun.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 yosemite_sun.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='stairs-not.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-not.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='lost_typewritter.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 lost_typewritter.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='stairs-to_soul.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-to_soul.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='why_are_locks.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 why_are_locks.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-danger.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/4.jpg', title='cool_cup.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 cool_cup.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .gap
              .gap
              .gap
              .gap
          aside.tray.tray-right.tray320(data-tray-height='match')
            h4.tray-title  Upload New Image
            // Image Upload Field
            .fileupload.fileupload-new.admin-form.mt20(data-provides='fileupload')
              .section.mb10
                label.field.prepend-icon(for='name2')
                  input#name2.event-name.gui-input.br-light.light(type='text', name='name2', placeholder='Title')
                  label.field-icon(for='name2')
                    i.fa.fa-pencil
              .section.mb10
                label.field.prepend-icon
                  textarea#comment.gui-textarea.br-light.h-80.bg-light(name='comment', placeholder='Description')
                  label.field-icon(for='comment')
                    i.fa.fa-comments
                  span.input-footer.hidden
                    strong Hint:
                    | Don't be negative or off topic! just be awesome...
              .row
                .col-xs-4
                  span.button.btn-system.btn-file.btn-block.ph5
                    span.fileupload-new Select image
                    span.fileupload-exists Change File
                    input(type='file')
                .col-xs-8.pln
                  label.field.prepend-icon(for='name2')
                    input#name2.event-name.gui-input.br-light.bg-light(type='text', name='name2', placeholder='Tags')
                    label.field-icon(for='name2')
                      i.fa.fa-pencil
              .fileupload-preview.thumbnail.m5.mt20.mb30
                img(data-src='holder.js/100%x140', alt='holder')
            // Labels Menu
            .list-group.list-group-links
              .list-group-header  Labels
              a.list-group-item(href='#')
                | Clients
                span.badge.badge-info 6
              a.list-group-item(href='#')
                | Contractors
                span.badge.badge-success 8
              a.list-group-item(href='#')
                | Employees
                span.badge.badge-primary 11
              a.list-group-item(href='#')
                | Suppliers
                span.badge.badge-system 13
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // To keep our code clean and modular, all custom functionality will be
        // contained inside a single object literal called "dropdownFilter".
        var dropdownFilter = {
          // Declare any variables we will need as properties of the object
          $filters: null,
          $reset: null,
          groups: [],
          outputArray: [],
          outputString: '',
          // The "init" method will run on document ready and cache any jQuery objects we will need.
          init: function () {
            var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "dropdownFilter" object so that we can share methods and properties between all parts of the object.
            self.$filters = $('#select-filters');
            self.$reset = $('#mix-reset');
            self.$container = $('#mix-container');
            self.$filters.find('fieldset').each(function () {
              self.groups.push({
                $dropdown: $(this).find('select'),
                active: ''
              });
            });
            self.bindHandlers();
          },
          // The "bindHandlers" method will listen for whenever a select is changed.
          bindHandlers: function () {
            var self = this;
            // Handle select change
            self.$filters.on('change', 'select', function (e) {
              e.preventDefault();
              self.parseFilters();
            });
            // Handle reset click
            self.$reset.on('click', function (e) {
              e.preventDefault();
              self.$filters.find('select').val('');
              self.parseFilters();
            });
          },
          // The parseFilters method pulls the value of each active select option
          parseFilters: function () {
            var self = this;
            // loop through each filter group and grap the value from each one.
            for (var i = 0, group; group = self.groups[i]; i++) {
              group.active = group.$dropdown.val();
            }
            self.concatenate();
          },
          // The "concatenate" method will crawl through each group, concatenating filters as desired:
          concatenate: function () {
            var self = this;
            self.outputString = ''; // Reset output string
            for (var i = 0, group; group = self.groups[i]; i++) {
              self.outputString += group.active;
            }
            // If the output string is empty, show all rather than none:
            !self.outputString.length && (self.outputString = 'all');
            //console.log(self.outputString);
            // ^ we can check the console here to take a look at the filter string that is produced
            // Send the output string to MixItUp via the 'filter' method:
            if (self.$container.mixItUp('isLoaded')) {
              self.$container.mixItUp('filter', self.outputString);
            }
          }
        };
        // To keep our code clean and modular, all custom functionality will be contained inside a single object literal called "checkboxFilter".
        var checkboxFilter = {
          // Declare any variables we will need as properties of the object
          $filters: null,
          $reset: null,
          groups: [],
          outputArray: [],
          outputString: '',
          // The "init" method will run on document ready and cache any jQuery objects we will need.
          init: function () {
            var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "checkboxFilter" object so that we can share methods and properties between all parts of the object.
            self.$filters = $('#checkbox-filters');
            self.$reset = $('#mix-reset2');
            self.$container = $('#mix-container');
            self.$filters.find('fieldset').each(function () {
              self.groups.push({
                $inputs: $(this).find('input'),
                active: [],
                tracker: false
              });
            });
            self.bindHandlers();
          },
          // The "bindHandlers" method will listen for whenever a form value changes.
          bindHandlers: function () {
            var self = this;
            self.$filters.on('change', function () {
              self.parseFilters();
            });
            self.$reset.on('click', function (e) {
              e.preventDefault();
              self.$filters[0].reset();
              self.parseFilters();
            });
          },
          // The parseFilters method checks which filters are active in each group:
          parseFilters: function () {
            var self = this;
            // loop through each filter group and add active filters to arrays
            for (var i = 0, group; group = self.groups[i]; i++) {
              group.active = []; // reset arrays
              group.$inputs.each(function () {
                $(this).is(':checked') && group.active.push(this.value);
              });
              group.active.length && (group.tracker = 0);
            }
            self.concatenate();
          },
          // The "concatenate" method will crawl through each group, concatenating filters as desired:
          concatenate: function () {
            var self = this,
                    cache = '',
                    crawled = false,
                    checkTrackers = function () {
                      var done = 0;
                      for (var i = 0, group; group = self.groups[i]; i++) {
                        (group.tracker === false) && done++;
                      }
                      return (done < self.groups.length);
                    },
                    crawl = function () {
                      for (var i = 0, group; group = self.groups[i]; i++) {
                        group.active[group.tracker] && (cache += group.active[group.tracker]);
                        if (i === self.groups.length - 1) {
                          self.outputArray.push(cache);
                          cache = '';
                          updateTrackers();
                        }
                      }
                    },
                    updateTrackers = function () {
                      for (var i = self.groups.length - 1; i > -1; i--) {
                        var group = self.groups[i];
                        if (group.active[group.tracker + 1]) {
                          group.tracker++;
                          break;
                        } else if (i > 0) {
                          group.tracker && (group.tracker = 0);
                        } else {
                          crawled = true;
                        }
                      }
                    };
            self.outputArray = []; // reset output array
            do {
              crawl();
            }
            while (!crawled && checkTrackers());
            self.outputString = self.outputArray.join();
            // If the output string is empty, show all rather than none:
            !self.outputString.length && (self.outputString = 'all');
            //console.log(self.outputString);
            // ^ we can check the console here to take a look at the filter string that is produced
            // Send the output string to MixItUp via the 'filter' method:
            if (self.$container.mixItUp('isLoaded')) {
              self.$container.mixItUp('filter', self.outputString);
            }
          }
        };
        // Init multiselect plugin on filter dropdowns
        $('#filter1').multiselect({
          buttonClass: 'btn btn-default',
        });
        $('#filter2').multiselect({
          buttonClass: 'btn btn-default',
        });
        // Init checkboxFilter code
        checkboxFilter.init();
        // Init dropdownFilter code
        dropdownFilter.init();
        var $container = $('#mix-container'), // mixitup container
                $toList = $('.to-list'), // list view button
                $toGrid = $('.to-grid'); // list view button
        // Instantiate MixItUp
        $container.mixItUp({
          controls: {
            enable: false // we won't be needing these
          },
          animation: {
            duration: 400,
            effects: 'fade translateZ(-360px) stagger(45ms)',
            easing: 'ease'
          },
          callbacks: {
            onMixFail: function () {
            }
          }
        });
        $toList.on('click', function () {
          if ($container.hasClass('list')) {
            return
          }
          $container.mixItUp('changeLayout', {
            display: 'block',
            containerClass: 'list'
          }, function (state) {
            // callback function
          });
        });
        $toGrid.on('click', function () {
          if ($container.hasClass('grid')) {
            return
          }
          $container.mixItUp('changeLayout', {
            display: 'inline-block',
            containerClass: 'grid'
          }, function (state) {
            // callback function
          });
        });
        // Add Gallery Item to Lightbox
        $('.mix img').magnificPopup({
          type: 'image',
          callbacks: {
            beforeOpen: function (e) {
              // we add a class to body to indicate overlay is active
              // We can use this to alter any elements such as form popups
              // that need a higher z-index to properly display in overlays
              $('body').addClass('mfp-bg-open');
              // Set Magnific Animation
              this.st.mainClass = 'mfp-zoomIn';
              // Inform content container there is an animation
              this.contentContainer.addClass('mfp-with-anim');
            },
            afterClose: function (e) {
              setTimeout(function () {
                $('body').removeClass('mfp-bg-open');
                $(window).trigger('resize');
              }, 1000)
            },
            elementParse: function (item) {
              // Function will fire for each target element
              // "item.el" is a target DOM element (if present)
              // "item.src" is a source that you may modify
              item.src = item.el.attr('src');
            },
          },
          overflowY: 'scroll',
          removalDelay: 200, //delay removal by X to allow out-animation
          prependTo: $('#content_wrapper')
        });
      });