extends  _skeleton
include _ui-sidebar

block body
  body.search-results-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar Left
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('pages_search-results.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-right
          aside.tray.tray-left.tray300(data-tray-height='match')
            // User Avatar Media
            .media.mt20.ml25
              a.media-left(href='#')
                img.img-responsive.mw50(src='assets/img/avatars/1.jpg', width='40', height='40')
              .media-body
                h4.media-heading
                  | John Smith -
                  small.text-success.fw600  Online
                a.fs12.text-muted.fw400(href='#')
                  | Incognito Mode |	Sign Out
            // Privacy Settings Panel
            .panel.panel-primary.panel-border.top.mt30
              .panel-body.bg-light.p10
                .list-group.list-group-links.list-group-spacing-xs.mbn
                  .list-group-header  Your Privacy Settings
                  a.list-group-item(href='#')
                    | Visability:
                    b.text-warning.pull-right  Online
                  a.list-group-item(href='#')
                    | Social Sharing:
                    b.text-warning.pull-right  Auto
                  a.list-group-item(href='#')
                    | Javascript:
                    b.text-success.pull-right  Allowed
                  a.list-group-item(href='#')
                    | Cookies:
                    b.text-danger.pull-right  Disabled
            // Recent Searches Panel
            .panel.panel-warning.panel-border.hidden
              .panel-body.bg-light.p10
                .list-group.list-group-links.list-group-spacing-sm.mbn
                  .list-group-header  Recent Searches...
                  a.list-group-item(href='#')  1. - "Gaming Computer Deals"
                  a.list-group-item(href='#')  2. - "Sony Entertainment Stock"
                  a.list-group-item(href='#')  3. - "Apple Smartwatch Release"
                  a.list-group-item(href='#')  4. - "Facebook Oculus Rift"
            // Recent Searches Panel
            .panel.panel-info.panel-border
              .panel-body.bg-light.p10
                .list-group.list-group-links.list-group-spacing-sm.mbn
                  .list-group-header
                    | Your Favorites
                    i.fa.fa-plus.pull-right.fs10.text-muted
                  a.list-group-item(href='#')
                    i.fa.fa-star-o.text-warning
                    |  www.gizmodo.com
                  a.list-group-item(href='#')
                    i.fa.fa-star-o
                    |  www.yahoo.com/money
                  a.list-group-item(href='#')
                    i.fa.fa-star-o
                    |  www.cnn.com/news
                  .list-group-header.mt15  Recent Searches...
                  a.list-group-item(href='#')  1. "Gaming Computer Deals"
                  a.list-group-item(href='#')  2. "Sony Entertainment Stock"
                  a.list-group-item(href='#')  3. "Apple Smartwatch Release"
                  a.list-group-item(href='#')  4. "Facebook Oculus Rift"
          // begin: .tray-center
          .tray.tray-center
            // Search Results Panel
            .panel
              .panel-heading
                span.panel-title.text-muted.hidden-xs Returned 13,628 results (0.15 seconds)
                ul.nav.panel-tabs-border.panel-tabs-merge.panel-tabs
                  li.active
                    a(href='#search', data-toggle='tab') Classic Search
                  li
                    a(href='#users', data-toggle='tab') User Search
              .panel-menu
                .input-group.input-hero.input-hero-sm
                  span.input-group-addon
                    i.fa.fa-search
                  input#icon-filter.form-control(type='text', placeholder='Enter search terms..')
              .panel-body.ph20
                .tab-content
                  // Classic Search Pane
                  #search.tab-pane.active
                    // Search Pane Title
                    h3
                      | Displaying
                      = ' '
                      b.text-primary 872
                      |  results for 'Admin Themes'
                    hr.alt
                    // Begin Search Result Entries
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                    .search-result
                      h3
                        a(href='http://www.templatemonster.com/admin-templates.php') MonsterAdmin - A Responsive Admin UI Framework Toolkit
                      ul.result-meta
                        li
                          a(href='#') http://www.templatemonster.com
                        li
                          a(href='#')  45 ratings
                        li
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                          = ' '
                          i.fa.fa-star-o.text-warning
                        li
                          a(href='#')  $22.99
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, obcaecati consequuntur aspernatur neque voluptatum mollitia eaque tenetur ea tempora itaque dolore incidunt explicabo voluptate quaerat at reprehenderit iste iusto asperiores?
                      ul.result-meta
                        li
                          a(href='#')  Home
                        li
                          a(href='#')  Our Products
                        li
                          a(href='#')  About Us
                        li
                          a(href='#')  Customer Support
                  // User Search Pane
                  #users.tab-pane
                    .table-responsive.of-a.mhn20.mvn15
                      table.table.admin-form.theme-warning.fs13
                        thead
                          tr.bg-light
                            th Avatar
                            th Name
                            th Email
                            th Registered
                            th Purchases
                            th Total Spent
                            th.text-right Status
                        tbody
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Dave Robert
                            td dave@company.com
                            td 12/03/2014
                            td 222
                            td $3,600
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right.dropdown-menu.dropdown-menu-right-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Sara Marshall
                            td sara@company.com
                            td 12/03/2014
                            td 16
                            td $4,200
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Larry Kingster
                            td larry@company.com
                            td 12/03/2014
                            td 46
                            td $16,200
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right.dropdown-menu.dropdown-menu-right-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Emily Roundwheel
                            td emily@company.com
                            td 12/03/2014
                            td 06
                            td $1,400
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Nick Cannoneer
                            td sara@company.com
                            td 12/03/2014
                            td 43
                            td $13,600
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Morgan Lunar
                            td morgan@company.com
                            td 12/03/2014
                            td 11
                            td $3,200
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-success.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Emily Roundwheel
                            td emily@company.com
                            td 12/03/2014
                            td 06
                            td $1,400
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-warning.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | In-Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
                          tr
                            td.w50
                              img.img-responsive(title='user', src='assets/img/avatars/2.jpg')
                            td Sara Marshall
                            td sara@company.com
                            td 12/03/2014
                            td 16
                            td $4,200
                            td.text-right
                              .btn-group.text-right
                                button.btn.btn-warning.br2.btn-xs.fs12.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                  | In-Active
                                  span.caret.ml5
                                ul.dropdown-menu.dropdown-menu-right(role='menu')
                                  li
                                    a(href='#') Edit
                                  li
                                    a(href='#') Contact
                                  li.divider
                                  li.active
                                    a(href='#') Active
                                  li
                                    a(href='#') Suspend
                                  li
                                    a(href='#') Remove
              .panel-footer.clearfix
                nav
                  ul.pagination.pull-right
                    li.prev.disabled
                      a(href='#')
                        i.fa.fa-angle-left
                        |  Previous
                    li.active
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li.next
                      a(href='#')
                        | Next
                        i.fa.fa-angle-right
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
      });