extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/magnific-popup.css')
  link(rel='stylesheet', type='text/css', href='plugins/css/fullcalendar.min.css')
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.calendar-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('pages_calendar.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.hidden
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.sidebar-visible-tablet.tray.tray-left.tray290(data-tray-mobile='#content > .tray-center', data-tray-height='match')
            // Demo HTML - Via JS we insert a cloned fullcalendar title
            .fc-title-clone
            // Demo HTML - Via JS we insert a sync minicalendar
            .section.admin-form.theme-primary
              .inline-mp.minimal-mp.center-block
            h4.mt25
              | Events
              a#compose-event-btn(href='#calendarEvent', data-effect='mfp-flipInY')
                span.fa.fa-plus-square
            hr.mv15.br-light
            #external-events.bg-dotted
              // Standard Events
              .fc-event.fc-event-primary(data-event='primary')
                .fc-event-icon
                  span.fa.fa-exclamation
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
              .fc-event.fc-event-info(data-event='info')
                .fc-event-icon
                  span.fa.fa-info
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
              .fc-event.fc-event-success(data-event='success')
                .fc-event-icon
                  span.fa.fa-check
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
              .fc-event.fc-event-warning(data-event='warning')
                .fc-event-icon
                  span.fa.fa-question
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
              // Reoccuring Events
              h6.mt20  Reoccuring Events:
              .fc-event.fc-event-alert.event-recurring(data-event='alert')
                .fc-event-icon
                  span.fa.fa-clock-o
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
              .fc-event.fc-event-system.event-recurring(data-event='system')
                .fc-event-icon
                  span.fa.fa-bell-o
                .fc-event-desc
                  b 2:30am -
                  = ' '
                  | Meeting With Mike
            h4.mt30  Labels
            hr.mv15.br-light
            ul.list-group
              li.list-group-item
                span.badge.badge-primary 14
                |               Entertainment
              li.list-group-item
                span.badge.badge-success 9
                |               Movies
              li.list-group-item
                span.badge.badge-info 11
                |               TV Shows
              li.list-group-item
                span.badge.badge-warning 18
                |               Celebs & Gossip
          // begin: .tray-center
          .tray.tray-center
            // Calendar
            #calendar.admin-theme
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // Calendar Event Creation Modal/Form
    #calendarEvent.admin-form.theme-primary.popup-basic.popup-lg.mfp-with-anim.mfp-hide
      .panel
        .panel-heading
          span.panel-title
            i.fa.fa-pencil-square
            | New Calendar Event
        form#calendarEventForm(method='post', action='/')
          .panel-body.p25
            .section-divider.mt10.mb40
              span Event Details
            // .section-divider
            .section.row
              .col-md-6
                label.field.prepend-icon(for='firstname')
                  input#firstname.gui-input(type='text', name='firstname', placeholder='Event Coordinator')
                  label.field-icon(for='firstname')
                    i.fa.fa-user
              .col-md-6
                label.field.prepend-icon(for='eventDate')
                  input#eventDate.gui-input(type='text', name='eventDate', placeholder='Event Date')
                  label.field-icon
                    i.fa.fa-calendar
            .section
              label.field.prepend-icon(for='email')
                input#email.gui-input(type='email', name='email', placeholder='Contact Email')
                label.field-icon(for='email')
                  i.fa.fa-envelope
            .section
              .smart-widget.sm-right.smr-140
                label.field.prepend-icon(for='username')
                  input#username.gui-input(type='text', name='username', placeholder='Event Title')
                  label.field-icon(for='username')
                    i.fa.fa-flag
                label.button(for='username') company.com
            .section
              label.field.prepend-icon
                textarea#comment.gui-textarea(name='comment', placeholder='Event Description')
                label.field-icon(for='comment')
                  i.fa.fa-comments
                span.input-footer.hidden
                  strong Hint:
                  | Don't be negative or off topic! just be awesome...
          .panel-footer.text-right
            button.button.btn-primary(type='submit') Create Event
    // core scripts
    script(src='plugins/core.min.js')
    // AdminForms Date/Month Pickers
    script(src='assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js')
    script(src='assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init FullCalendar external events
        $('#external-events .fc-event').each(function () {
          // store data so the calendar knows to render an event upon drop
          $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true, // maintain when user navigates (see docs on the renderEvent method)
            className: 'fc-event-' + $(this).attr('data-event') // add a contextual class name from data attr
          });
          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 999,
            revert: true, // will cause the event to go back to its
            revertDuration: 0 //  original position after the drag
          });
        });

        var Calendar = $('#calendar');
        var Picker = $('.inline-mp');
        // Init FullCalendar Plugin
        Calendar.fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          editable: true,
          events: [{
            title: 'Sony Meeting',
            start: '2015-05-4',
            end: '2015-05-6',
            className: 'fc-event-success',
          }, {
            title: 'Conference',
            start: '2015-05-14',
            end: '2015-05-16',
            className: 'fc-event-warning'
          }, {
            title: 'System Testing',
            start: '2015-05-26',
            end: '2015-05-28',
            className: 'fc-event-primary'
          },
          ],
          viewRender: function (view) {
            // If monthpicker has been init update its date on change
            if (Picker.hasClass('hasMonthpicker')) {
              var selectedDate = Calendar.fullCalendar('getDate');
              var formatted = moment(selectedDate, 'MM-DD-YYYY').format('MM/YY');
              Picker.monthpicker("setDate", formatted);
            }
            // Update mini calendar title
            var titleContainer = $('.fc-title-clone');
            if (!titleContainer.length) {
              return;
            }
            titleContainer.html(view.title);
          },
          droppable: true, // this allows things to be dropped onto the calendar
          drop: function () {
            // is the "remove after drop" checkbox checked?
            if (!$(this).hasClass('event-recurring')) {
              $(this).remove();
            }
          },
          eventRender: function (event, element) {
            // create event tooltip using bootstrap tooltips
            $(element).attr("data-original-title", event.title);
            $(element).tooltip({
              container: 'body',
              delay: {
                "show": 100,
                "hide": 200
              }
            });
            // create a tooltip auto close timer
            $(element).on('show.bs.tooltip', function () {
              var autoClose = setTimeout(function () {
                $('.tooltip').fadeOut();
              }, 3500);
            });
          }
        });
        // Init MonthPicker Plugin and Link to Calendar
        Picker.monthpicker({
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false,
          onSelect: function (selectedDate) {
            var formatted = moment(selectedDate, 'MM/YYYY').format('MM/DD/YYYY');
            Calendar.fullCalendar('gotoDate', formatted)
          }
        });
        // Init Calendar Modal via "inline" Magnific Popup
        $('#compose-event-btn').magnificPopup({
          removalDelay: 500, //delay removal by X to allow out-animation
          callbacks: {
            beforeOpen: function (e) {
              // we add a class to body indication overlay is active
              // We can use this to alter any elements such as form popups
              // that need a higher z-index to properly display in overlays
              $('body').addClass('mfp-bg-open');
              this.st.mainClass = this.st.el.attr('data-effect');
            },
            afterClose: function (e) {
              $('body').removeClass('mfp-bg-open');
            }
          },
          midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
        });
        // Calendar Modal Date picker
        $("#eventDate").datepicker({
          numberOfMonths: 1,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false,
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
      });