extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/animate.min.css')

block body
  body.ui-animations-page.disable-tray-rescale
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('ui_animations.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.bg-white.alt
          .topbar-left
            ol.breadcrumb.mt-10.br-b-ddd
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray350(data-tray-height='match')
            .animated-delay.mb20(data-animate='["400","fadeInDown"]')
              h4
                | Animations.CSS -
                = ' '
                small "Just-add-water"
              ul.icon-list
                li
                  i.fa.fa-exclamation-circle.text-warning.fa-lg.pr10
                  b  Author:
                  |  Daniel Eden.
                li
                  i.fa.fa-exclamation-circle.text-warning.fa-lg.pr10
                  b  License:
                  |  The MIT License (MIT).
                li
                  i.fa.fa-exclamation-circle.text-warning.fa-lg.pr10
                  b  Website:
                  = ' '
                  a(href='http://daneden.github.io/animate.css/') www.github.com/animate
              hr.short
            .animated-delay.mb20(data-animate='["1000","fadeInDown"]')
              .row
                .col-xs-3.pr5
                  a.btn.btn-primary.btn-block.ph5.br0.animation-nav(href='#entrances', data-toggle='tab') Enter
                .col-xs-3.ph5
                  a.btn.btn-default.btn-block.ph5.br0.animation-nav(href='#exits', data-toggle='tab') Exits
                .col-xs-3.ph5
                  a.btn.btn-default.btn-block.ph5.br0.animation-nav(href='#effects', data-toggle='tab') Effects
                .col-xs-3.pl5
                  a.btn.btn-default.btn-block.ph5.br0.animation-nav(href='#options', data-toggle='tab') Learn
            .animated-delay(data-animate='["1300","slideInUp"]')
              .tray-bin.stretch.animations
                .tab-content.pn.br-n.bg-none
                  #entrances.tab-pane.active
                    // Rotating
                    h6.p10.pt5.pbn.fs12  Rotating Entrances:
                    .primary.pl5
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='rotateIn') rotateIn
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='rotateInDownLeft') rotateInDownLeft
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='rotateInDownRight') rotateInDownRight
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='rotateInUpLeft') rotateInUpLeft
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='rotateInUpRight') rotateInUpRight
                    // Fades
                    h6.p10.pbn.fs12  Fading Entrances:
                    .info.pl5
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeIn') fadeIn
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInUp') fadeInUp
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInDown') fadeInDown
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInLeft') fadeInLeft
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInRight') fadeInRight
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInUpBig') fadeInUpBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInDownBig') fadeInDownBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInLeftBig') fadeInLeftBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeInRightBig') fadeInRightBig
                    // Bounces
                    h6.p10.pt5.pbn.fs12  Bouncing Entrances:
                    .alerts.pl5
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='bounceIn') bounceIn
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='bounceInDown') bounceInDown
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='bounceInUp') bounceInUp
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='bounceInRight') bounceInRight
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='bounceInLeft') bounceInLeft
                  #exits.tab-pane
                    // Bounces
                    h6.p10.pt5.pbn.fs12  Bouncing Exits:
                    .primary.pl5
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounceOutRight') bounceOutRight
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounceOutLeft') bounceOutLeft
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounceOut') bounceOut
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounceOutDown') bounceOutDown
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounceOutUp') bounceOutUp
                    // Fades
                    h6.p10.pbn.fs12  Fading Exits:
                    .info.pl5
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOut') fadeOut
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutUp') fadeOutUp
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutDown') fadeOutDown
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutLeft') fadeOutLeft
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutRight') fadeOutRight
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutUpBig') fadeOutUpBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutDownBig') fadeOutDownBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutLeftBig') fadeOutLeftBig
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='fadeOutRightBig') fadeOutRightBig
                    // Fades
                    h6.p10.pbn.fs12  Rotating Exits:
                    .alerts.pl5
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='rotateOut') rotateOut
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='rotateOutDownLeft') rotateOutDownLeft
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='rotateOutDownRight') rotateOutDownRight
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='rotateOutUpLeft') rotateOutUpLeft
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='rotateOutUpRight') rotateOutUpRight
                  #effects.tab-pane
                    // Attention Seekers
                    h6.p10.pt5.pbn.fs12  Attention Seekers:
                    .primary.pl5
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='bounce') bounce
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='shake') shake
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='tada') tada
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='swing') swing
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='wobble') wobble
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='pulse') pulse
                      button.btn.btn-primary.btn-gradient.btn-alt(type='button', data-test='flash') flash
                    // Flippers
                    h6.p10.pbn.fs12  Flippers:
                    .info.pl5
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='flip') flip
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='flipInX') flipInX
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='flipOutX') flipOutX
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='flipInY') flipInY
                      button.btn.btn-info.btn-gradient.btn-alt(type='button', data-test='flipOutY') flipOutY
                    // Sliders
                    h6.p10.pbn.fs12  Sliders:
                    .alerts.pl5
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideInDown') slideInDown
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideInLeft') slideInLeft
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideInRight') slideInRight
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideOutUp') slideOutUp
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideOutLeft') slideOutLeft
                      button.btn.btn-alert.btn-gradient.btn-alt(type='button', data-test='slideOutRight') slideOutRight
                    // Specials
                    h6.p10.pbn.fs12  Specials:
                    .warning.pl5
                      button.btn.btn-warning.btn-gradient.btn-alt(type='button', data-test='lightSpeedIn') lightSpeedIn
                      button.btn.btn-warning.btn-gradient.btn-alt(type='button', data-test='lightSpeedOut') lightSpeedOut
                      button.btn.btn-warning.btn-gradient.btn-alt(type='button', data-test='hinge') hinge
                      button.btn.btn-warning.btn-gradient.btn-alt(type='button', data-test='rollIn') rollIn
                      button.btn.btn-warning.btn-gradient.btn-alt(type='button', data-test='rollOut') rollOut
                  #options.tab-pane.p10
                    // Animation OnLoad
                    h5.mt5.pbn  Animations OnLoad:
                    p
                      | Animations are fired immeditiely when the page loads and are a great way to introduce new content.
                    h6.mt15 Adding an Animation to an Element
                    code <div class="animated fadeIn">..</div>
                    h6.mt25 The Required Selectors:
                    p
                      b "animated"
                      |  - Is required on all elements which you choose to animate on load.
                    p
                      b "fadeIn"
                      |  - Is an example of the type of animation you wish to see performed on the element
                    hr.short
                    // Animation Delay
                    h5.mt5 Delayed Animations!
                    code data-animate='["100","fadeIn"]' class="animated-delay"
                    // <hr class="alt short">
                    h6.mt25 The Required Selectors:
                    p
                      b animated-delay
                      |  - Is always required. Take note this uses "animated-delay" NOT"animated"
                    p
                      b data-animate='["1500","fadeIn"]'
                      |  - A data attribute which holds an array for
                      b two
                      |  settings. The first is used to set the delay(in miliseconds). The second is for specifiying the animation. Both options are required.
                    h6.mb10.mt25
                      | Note: delayed animations require
                      span.text-danger main.js
          // begin: .tray-center
          .tray.tray-center
            #mac_wire.animated
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Demo Code -Toggle animation nav list bg color
        $('.animation-nav').click(function () {
          $('.animation-nav').removeClass('btn-primary').addClass('btn-default');
          $(this).addClass('btn-primary');
        });
        // Example animate buttons
        $('.animations .btn').click(function () {
          if ($('body.animation-running').length) {
            return;
          }
          $(this).addClass('item-checked');
          var animateVal = $(this).attr('data-test');
          testAnim(animateVal)
        });
        // Simply adds CSS classes required for animation
        // and then removes them after an elapsed time
        var animatedObj = $('#mac_wire');

        function testAnim(x) {
          $('body').addClass('animation-running');
          animatedObj.removeClass('fadeIn').addClass(x);
          animatedObj.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            $('body').removeClass('animation-running');
            animatedObj.removeClass(x);
          });
        }

        /* Demo Code - Creates animated SVG(desktop image)
         * Lazy Line Painter - Path Object
         * Generated using 'SVG to Lazy Line Converter'
         *
         * http://lazylinepainter.info
         * Copyright 2013, Cam O'Connell
         *
         */
        var pathObj = {
          "mac_wire": {
            "strokepath": [{
              "path": "M264.41,447.79   c-1.07,13.219-1.292,40.276-2.087,47.116c-1.064,9.147-3.618,11.702-10,13.403c-5.289,1.409-12.453,3.028-15.439,3.796   c-2.985,0.768-3.923,1.287-3.923,1.879c0,0,0,0.031,0.006,0.089c0.003,0.03,0.007,0.059,0.012,0.086   c0.129,0.788,17.132,2.911,25.421,2.911h143.717c8.287,0,25.29-2.123,25.419-2.911c0.006-0.027,0.01-0.056,0.013-0.086   c0.006-0.058,0.006-0.089,0.006-0.089c0-0.592-0.937-1.11-3.923-1.879c-2.986-0.768-10.15-2.387-15.439-3.796   c-6.382-1.701-8.935-4.256-9.999-13.403c-0.795-6.84-1.018-33.897-2.089-47.116",
              "duration": 600
            }, {
              "path": "M636.122,7.411H24.392   c-7.962,0-14.438,6.477-14.438,14.438v411.503c0,7.961,6.476,14.438,14.438,14.438h242.261l0,0h127.208l0,0h242.261   c7.962,0,14.438-6.478,14.438-14.438V21.849C650.561,13.888,644.084,7.411,636.122,7.411z M623.411,361.445H37.103V34.56h586.308   V361.445z",
              "duration": 1000
            }],
            "dimensions": {
              "width": 660,
              "height": 523
            }
          }
        };
        /*
         * Setup and Paint your lazyline!
         */
        $('#mac_wire').lazylinepainter({
          "svgData": pathObj,
          "strokeWidth": 3,
          "strokeColor": "#e09b99",
          "delay": 400,
          "onComplete": function () {
            $('body').addClass('svg-fill');
          }
        }).lazylinepainter('paint');
      });