extends  _skeleton
include _ui-sidebar

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/github.css')

block body
  body.ui-typography-page
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .br-b.panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('ui_typography.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        #content.animated.fadeIn
          .row
            .col-md-6
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.fa.fa-pencil
                    = ' '
                  span.panel-title Headings
                .panel-body
                  .bs-component
                    h1.mtn
                      | This is an H1 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .bs-component
                    h2
                      | This is an H2 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .bs-component
                    h3
                      | This is an H3 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .bs-component
                    h4
                      | This is an H4 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .bs-component
                    h5
                      | This is an H5 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .bs-component
                    h6
                      | This is an H6 heading
                      = ' '
                      small Secondary text
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title DropCaps
                .panel-body
                  .row
                    .col-sm-6
                      .bs-component
                        p.dropcap.dropcap-default
                          | Testibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-primary
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-success
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-info
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-warning
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-danger
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-alert
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-system
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-muted
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                    .col-sm-6
                      .bs-component
                        p.dropcap.dropcap-default.dropcap-fill
                          | Testibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-primary.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-success.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-info.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-warning.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-danger.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-alert.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-system.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-muted.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-map-marker
                  span.panel-title Address Formatting
                .panel-body
                  .bs-component
                    .well
                      address
                        strong Twitter, Inc.
                        br
                        | 795 Folsom Ave, Suite 600
                        br
                        | San Francisco, CA 94107
                        br
                        abbr(title='Phone') P:
                        | (123) 456-7890
                      address
                        strong Full Name
                        br
                        a(href='mailto:#') first.last@example.com
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-unchecked
                  span.panel-title Text Wells
                .panel-body.text-center
                  .bs-component
                    .well.well-sm
                      | Look, I'm in a
                      = ' '
                      b Small
                      |  well!
                      code <well-sm>
                  .bs-component
                    .well
                      | Look, I'm in a
                      = ' '
                      b Regular
                      |  well!
                      code <well>
                  .bs-component
                    .well.well-lg
                      | Look, I'm in a
                      = ' '
                      b Large
                      |  well!
                      code <well-lg>
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-qrcode
                  span.panel-title HTML Code
                .panel-body.p5
                  pre.highlight.br.bw2.br-grey.br-dashed.br0.p10.mn
                    code
                      | &lt;div class=&quot;container&quot;&gt;
                      | &nbsp; &lt;div class=&quot;row&quot;&gt;
                      | &nbsp; &nbsp; &lt;div class=&quot;col-md-4 col-lg-6&quot;&gt;
                      | &nbsp; &nbsp; &nbsp; Your Column1 Content
                      | &nbsp; &nbsp; &lt;/div&gt;
                      | &nbsp; &nbsp; &lt;div class=&quot;col-md-4 col-lg-6&quot;&gt;
                      | &nbsp; &nbsp; &nbsp; Your Column1 Content
                      | &nbsp; &nbsp; &lt;/div&gt;
                      | &nbsp; &lt;/div&gt;
                      | &lt;/div&gt;
              .row.flex-wrap
                .col-sm-6
                  .panel
                    .br-b.panel-heading
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                      span.panel-title Icon List
                    .panel-body
                      .bs-component
                        ul.fa-ul
                          li
                            i.fa-li.fa.fa-check-square
                            |  Lorem ipsum dolor sit amet
                          li
                            i.fa-li.fa.fa-check-square
                            |  Consectetur adipiscing elit
                          li
                            i.fa-li.fa.fa-check-square
                            |  Integer molestie lorem atm
                          li
                            i.fa-li.fa.fa-check-square
                            |  Facilisis in pretium nisl aliquet
                          li
                            i.fa-li.fa.fa-check-square
                            |  Nulla volutpat aliquam velit
                            ul.fa-ul
                              li
                                i.fa-li.fa.fa-check-square
                                |  Phasellus iaculis neque
                              li
                                i.fa-li.fa.fa-check-square
                                |  Purus sodales ultricies
                              li
                                i.fa-li.fa.fa-check-square
                                |  Vestibulum laoreet po
                              li
                                i.fa-li.fa.fa-check-square
                                |  Ac tristique libero v
                          li
                            i.fa-li.fa.fa-check-square
                            |  Faucibus porta lacus fringi
                          li
                            i.fa-li.fa.fa-check-square
                            |  Aenean sit amet erat nunc
                          li
                            i.fa-li.fa.fa-check-square
                            |  Eget porttitor lorem
                .col-sm-6
                  .panel
                    .br-b.panel-heading
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                      span.panel-title Unstyled List
                    .panel-body
                      .bs-component
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li
                            | Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet portt
                              li Ac tristique libero volu
                          li Faucibus porta lacus fringilla
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                .col-sm-6
                  .panel
                    .br-b.panel-heading
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                      span.panel-title Regular List
                    .panel-body
                      .bs-component
                        ul.pl15
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li
                            | Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttito
                              li Ac tristique libero volutt
                          li Faucibus porta lacus fringilla
                          li Aenean sit amet erat nunc
                          li Faucibus porta lacus tasingi
                .col-sm-6
                  .panel
                    .br-b.panel-heading
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                      span.panel-title Numbered List
                    .panel-body
                      .bs-component
                        ol.pl15
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem atsa
                          li Facilisis in pretium nisl alt
                          li
                            | Nulla volutpat aliquam velit
                            ol
                              li Lorem ipsum dolor si
                              li Consectetur adipiscit
                              li Faucibus porta lacusg
                              li Aenean sit amet erat nu
                          li Faucibus porta lacus fring
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
            .col-md-6
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-fire
                    = ' '
                  span.panel-title Text Emphasis
                .panel-body
                  table.table.table-striped
                    colgroup
                      col.col-xs-3
                      col.col-xs-7
                    thead
                      tr
                        th Class
                        th Description
                    tbody
                      tr
                        td
                          code .text-muted
                        td
                          .bs-component
                            p.text-muted.mn Fusce dapibus, tellus ac cursus commodo.
                      tr
                        td
                          code .text-primary
                        td
                          .bs-component
                            p.text-primary.mn Nullam id dolor id nibh ultricies vehicula ut.
                      tr
                        td
                          code .text-success
                        td
                          .bs-component
                            p.text-success.mn Duis mollis, est non commodo luctus.
                      tr
                        td
                          code .text-info
                        td
                          .bs-component
                            p.text-info.mn Maecenas sed diam eget risus varius blandit sit.
                      tr
                        td
                          code .text-warning
                        td
                          .bs-component
                            p.text-warning.mn Etiam porta sem malesuada magna mollis euismod.
                      tr
                        td
                          code .text-danger
                        td
                          .bs-component
                            p.text-danger.mn Donec ullamcorper nulla non metus auctor fringilla.
                      tr
                        td
                          code .text-alert
                        td
                          .bs-component
                            p.text-alert.mn Maecenas sed diam eget risus varius blandit.
                      tr
                        td
                          code .text-system
                        td
                          .bs-component
                            p.text-system.mn Etiam porta sem malesuada magna mollis euismod.
              .panel
                .br-b.panel-heading
                  span.panel-title
                    span.glyphicon.glyphicon-ok-circle
                    | Badges and Labels
                .panel-body
                  p
                    .bs-component.element-groups-xs-custom
                      span.label.label-default Default
                      = ' '
                      span.label.label-primary Primary
                      = ' '
                      span.label.label-success Success
                      = ' '
                      span.label.label-info Info
                      = ' '
                      span.label.label-warning Warning
                      = ' '
                      span.label.label-danger Danger
                      = ' '
                      span.label.label-alert Alert
                      = ' '
                      span.label.label-system System
                      = ' '
                      span.label.label-dark Dark
                  p
                    .bs-component.element-groups-xs-custom
                      span.label.label-rounded.label-default Default
                      = ' '
                      span.label.label-rounded.label-primary Primary
                      = ' '
                      span.label.label-rounded.label-success Success
                      = ' '
                      span.label.label-rounded.label-info Info
                      = ' '
                      span.label.label-rounded.label-warning Warning
                      = ' '
                      span.label.label-rounded.label-danger Danger
                      = ' '
                      span.label.label-rounded.label-alert Alert
                      = ' '
                      span.label.label-rounded.label-system System
                      = ' '
                      span.label.label-rounded.label-dark Dark
                  p
                    .bs-component.element-groups-xs-custom
                      span.label.label-rounded.label-default 12
                      = ' '
                      span.label.label-rounded.label-primary 41
                      = ' '
                      span.label.label-rounded.label-success 25
                      = ' '
                      span.label.label-rounded.label-info 51
                      = ' '
                      span.label.label-rounded.label-warning 94
                      = ' '
                      span.label.label-rounded.label-danger 32
                      = ' '
                      span.label.label-rounded.label-alert 26
                      = ' '
                      span.label.label-rounded.label-system 17
                      = ' '
                      span.label.label-rounded.label-dark 52
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-bookmark
                    = ' '
                  span.panel-title Text Quotes
                .panel-body
                  .bs-component
                    blockquote
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-primary
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-success
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-info
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-warning
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-danger
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-alert
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-system
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  .bs-component
                    blockquote.blockquote-inverse
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  hr
                  h5 Blockquote Options
                  code .blockquote-thin
                  .bs-component
                    blockquote.blockquote-thin.mv20
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  code .blockquote-rounded
                  .bs-component
                    blockquote.blockquote-rounded.mv20
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  p.text-right
                    code .blockquote-reverse
                  .bs-component
                    blockquote.blockquote-reverse.mv10
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
                  p.text-right
                    code .blockquote-reverse.blockquote-rounded
                  .bs-component
                    blockquote.blockquote-reverse.blockquote-rounded.mv10
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      small Someone famous
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.fa.fa-file-photo-o
                  span.panel-title Media Objects
                .panel-body
                  .bs-component
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/60x60', alt='holder-img')
                      .media-body
                        h5.media-heading Media heading
                        |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus.
                        .media
                          a.media-left(href='#')
                            img(data-src='holder.js/60x60', alt='holder-img')
                          .media-body
                            h5.media-heading Nested media heading
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo
                  hr.short.br-lighter
                  .bs-component
                    .media
                      .media-body
                        h5.media-heading Media Right
                        |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
                      a.media-right(href='#')
                        img(data-src='holder.js/60x60', alt='holder-img')
                  hr.short.br-lighter
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/50x50', alt='holder-img')
                      .media-body
                        h5.media-heading
                          | Article
                          = ' '
                          small.text-muted - 08/16/22
                        |  Last Updated 36 days ago by Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/50x50', alt='holder-img')
                      .media-body
                        h5.media-heading
                          | Richard
                          = ' '
                          small.text-muted @cloudesigns
                          small.pull-right.text-muted 6h
                        |  Last Updated 36 days ago by Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/50x50', alt='holder-img')
                      .media-body
                        h5.media-heading
                          | 1,610 kcal
                          = ' '
                          span.fa.fa-caret-down.text-primary.pl5
                        |  Last Updated 36 days ago by Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/50x50', alt='holder-img')
                      .media-body
                        h5.media-heading
                          | 1,610 kcal
                          = ' '
                          span.label.label-xs.label-system.ml5 Featured
                        |  Last Updated 36 days ago by Max
                  .bs-component
                    .media
                      a.media-left(href='#')
                        img(data-src='holder.js/50x50', alt='holder-img')
                      .media-body
                        h5.media-heading 1,610 kcal
                        |  Last Updated 36 days ago by Max
                      a.media-right.pl30(href='#')
                        span.fa.fa-pencil.text-muted.mb5
                        br
                        span.fa.fa-remove.text-danger-light
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title Vertical List
                .panel-body
                  p
                    | Take advantage of horizontal lists by formatting your html in a
                    code &lt;dl&gt;
                  .bs-component
                    dl
                      dt Description lists
                      dd A description list is perfect for defining terms.
                      dt Euismod
                      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              .panel
                .br-b.panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title Horizontal List
                .panel-body
                  p
                    | Take advantage of horizontal lists by adding this class to your dl
                    code &lt;dl-horizontal&gt;
                  .bs-component
                    dl.dl-horizontal
                      dt Description lists
                      dd A description list is perfect for defining terms.
                      dt Euismod
                      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                      dd Donec id elit non mi porta gravida at eget metus.
                      dt Malesuada porta
                      dd Etiam porta sem malesuada magna mollis euismod.
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init Highlight.js Plugin
        $('pre.highlight').each(function (i, block) {
          hljs.highlightBlock(block);
        });
      });
    |   '