extends  _skeleton
include _ui-sidebar

block body
  body.widgets-scroller-page(data-spy='scroll', data-target='#nav-spy', data-offset='300')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar Left
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('widgets_scroller.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray290(data-tray-height='match').veil.reveal-xlg-table-cell
            #nav-spy
              ul.nav.tray-nav.tray-nav-border(data-smoothscroll='-145', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#spy1')
                    | Smallest Panel Scroller
                li
                  a(href='#spy2')
                    | Small Panel Scroller
                li
                  a(href='#spy3')
                    | Medium Panel Scroller
                li
                  a(href='#spy4')
                    | Large Panel Scroller
                li
                  a(href='#spy5')
                    | Contextual Scrollers
                li
                  a(href='#spy6')
                    | Alternate Style Scroller
                li
                  a(href='#spy7')
                    | On-Hover Panel Scroller
          // begin: .tray-center
          .bg-white.tray.tray-center
            // page tabs
            .page-tabs
              ul.nav.nav-tabs
                li
                  a(href='widgets_tile.html') Tile Widgets
                li
                  a(href='widgets_panel.html') Panel Widgets
                li.active
                  a(href='widgets_scroller.html') Scroller Widgets
                li
                  a(href='widgets_data.html') Admin Widgets
            div(style='max-width: 1200px; padding-bottom: 150px;')
              h5.micro-header.mt40.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-xs
              hr.alt.short
              #spy1.row
                .col-md-6.col-lg-4
                  // Country List
                  .panel.br-a
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Search List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Crawler List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Browser List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-sm
              hr.alt.short
              #spy2.row
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Search List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Crawler List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Browser List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-md
              hr.alt.short
              #spy3.row
                .col-md-6.col-lg-4
                  // Icon List
                  .panel.br-a
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .panel.br-a
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .panel.br-a
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-lg
              hr.alt.short
              #spy4.row
                .col-md-6.col-lg-4
                  // Icon List
                  .panel.br-a
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .br-a.panel
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Contextual Scrollers -
                = ' '
                code .scroller-primary etc*
              hr.alt.short
              #spy5.row
                .col-md-6.col-lg-4
                  // Browser List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-primary.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                .col-md-6.col-lg-4
                  // Icon List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-sm.scroller-success.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .br-a.panel
                    .panel-heading
                      span.panel-title  Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-sm.scroller-info.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-warning.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
                .col-md-6.col-lg-4
                  // Browser List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-danger.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                          tr
                            td
                              span.favicons.chrome.va-t.mr10
                              | United States
                            td 39%
                          tr
                            td
                              span.favicons.firefox.va-t.mr10
                              | Germany
                            td 43%
                          tr
                            td
                              span.favicons.ie.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.safari.va-t.mr10
                              | Spain
                            td 3%
                .col-md-6.col-lg-4
                  // Icon List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-sm.scroller-alert.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .br-a.panel
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-sm.scroller-system.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-dark.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
                .col-md-6.col-lg-4
                  // Text List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Alternate Style Scroller -
                = ' '
                code .scroller-thick
              hr.alt.short
              #spy6.row
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-primary.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-warning.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
              h5.micro-header.mt30.text-left
                | Alternate Style On-Hover -
                = ' '
                code .scroller-overlay
              hr.alt.short
              #spy7.row
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-primary.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Country List
                  .br-a.panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-warning.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-us.mr5.va-b
                              | United States
                            td 24%
                          tr
                            td
                              span.flag-xs.flag-de.mr5.va-b
                              | Germany
                            td 7%
                          tr
                            td
                              span.flag-xs.flag-fr.mr5.va-b
                              | France
                            td 14%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
                          tr
                            td
                              span.flag-xs.flag-tr.mr5.va-b
                              | Spain
                            td 31%
                          tr
                            td
                              span.flag-xs.flag-es.mr5.va-b
                              | Turkey
                            td 22%
      // Start: Right Sidebar
      aside#sidebar_right.nano.nano-primary
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
      });