extends  _skeleton
include _ui-sidebar

block body
  body.widgets-tile-page(data-spy='scroll', data-target='#nav-spy', data-offset='155')
    // Start: Theme Preview Pane
    #skin-toolbox.bg-white
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')
            li.active
              a(href='#toolbox-header', role='tab', data-toggle='tab') Navbar
            li
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15
            #toolbox-header.tab-pane.active(role='tabpanel')
              form#toolbox-header-skin
                h4.mv20 Header Skins
                .skin-toolbox-swatches
                  .checkbox-custom.checkbox-disabled.fill.mb5
                    input#headerSkin8(type='radio', name='headerSkin', checked='', value='')
                    label(for='headerSkin8') Light
                  .checkbox-custom.fill.checkbox-primary.mb5
                    input#headerSkin1(type='radio', name='headerSkin', value='bg-primary')
                    label(for='headerSkin1') Primary
                  .checkbox-custom.fill.checkbox-info.mb5
                    input#headerSkin3(type='radio', name='headerSkin', value='bg-info')
                    label(for='headerSkin3') Info
                  .checkbox-custom.fill.checkbox-warning.mb5
                    input#headerSkin4(type='radio', name='headerSkin', value='bg-warning')
                    label(for='headerSkin4') Warning
                  .checkbox-custom.fill.checkbox-danger.mb5
                    input#headerSkin5(type='radio', name='headerSkin', value='bg-danger')
                    label(for='headerSkin5') Danger
                  .checkbox-custom.fill.checkbox-alert.mb5
                    input#headerSkin6(type='radio', name='headerSkin', value='bg-alert')
                    label(for='headerSkin6') Alert
                  .checkbox-custom.fill.checkbox-system.mb5
                    input#headerSkin7(type='radio', name='headerSkin', value='bg-system')
                    label(for='headerSkin7') System
                  .checkbox-custom.fill.checkbox-success.mb5
                    input#headerSkin2(type='radio', name='headerSkin', value='bg-success')
                    label(for='headerSkin2') Success
                  .checkbox-custom.fill.mb5
                    input#headerSkin9(type='radio', name='headerSkin', value='bg-dark')
                    label(for='headerSkin9') Dark
            #toolbox-sidebar.tab-pane(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options
                .form-group
                  .checkbox-custom.fill.mb5
                    input#header-option(type='checkbox', checked='')
                    label(for='header-option') Fixed Header
                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-option(type='checkbox')
                    label(for='breadcrumb-option') Fixed Breadcrumbs
                .form-group
                  .checkbox-custom.fill.mb5
                    input#breadcrumb-hidden(type='checkbox')
                    label(for='breadcrumb-hidden') Hide Breadcrumbs

          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Page Header
      block header
        include _header
      // Start: Sidebar Left
      aside#sidebar_left.nano.nano-light.affix
        // Start: Sidebar Left Content
        +makeSidebar('widgets_tile.html')
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-muted
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-muted
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-muted
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-muted
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-muted
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-muted
                span.metro-title Pictures
        // Start: Topbar
        header#topbar.alt
          .topbar-left
            ol.breadcrumb
              li.crumb-active
                a(href='index.html') Dashboard
              li.crumb-icon
                a(href='index.html')
                  span.glyphicon.glyphicon-home
              li.crumb-link
                a(href='index.html') Home
              li.crumb-trail Dashboard
          .topbar-right
            .ib.topbar-dropdown
              label.control-label.pr10.fs15.text-muted(for='topbar-multiple') Reporting Period
              select#topbar-multiple.hidden
                optgroup(label='Filter By:')
                  option(value='1-1') Last 30 Days
                  option(value='1-2', selected='selected') Last 60 Days
                  option(value='1-3') Last Year
            #toggle_sidemenu_r.ml15.ib.va-m
              a.pl5(href='#')
                i.fa.fa-sign-in.fs22.text-primary
                span.badge.badge-hero.badge-danger 3
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray290(data-tray-height='match')
            #nav-spy
              ul.nav.tray-nav.tray-nav-border(data-smoothscroll='-145', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#spy1')
                    | Widget Set 1
                li
                  a(href='#spy2')
                    | Widget Set 2
                li
                  a(href='#spy3')
                    | Widget Set 3
                li
                  a(href='#spy4')
                    | Widget Set 4
                li
                  a(href='#spy5')
                    | Widget Set 5
                li
                  a(href='#spy6')
                    | Widget Set 6
                li
                  a(href='#spy7')
                    | Widget Set 7
          // begin: .tray-center
          .tray.tray-center
            .page-tabs.veil.reveal-md-block
              ul.nav.nav-tabs.text-center.text-md-left
                li.active
                  a(href='widgets_tile.html') Tile Widgets
                li
                  a(href='widgets_panel.html') Panel Widgets
                li
                  a(href='widgets_scroller.html') Scroller Widgets
                li
                  a(href='widgets_data.html') Admin Widgets
            div(style='max-width: 1150px;')
              // Dashboard Tiles
              #spy1.row.mb10
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-primary.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-comments-o.icon-bg
                        h2.mt15.lh15
                          b 523
                        h5.text-muted Comments
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-info.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-bar-chart-o.icon-bg
                        h2.mt15.lh15
                          b 267
                        h5.text-muted Reach
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-success.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-envelope.icon-bg
                        h2.mt15.lh15
                          b 714
                        h5.text-muted Comments
              // Dashboard Tiles
              #spy2.row.mb10
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-primary.br-b.bw5.br-primary-light
                      .panel-body.pl20.p5
                        i.fa.fa-comments-o.icon-bg
                        h2.mt15.lh15
                          b 523
                        h5.text-muted Comments
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-info.br-b.bw5.br-info-light
                      .panel-body.pl20.p5
                        i.fa.fa-bar-chart-o.icon-bg
                        h2.mt15.lh15
                          b 267
                        h5.text-muted Reach
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.text-success.br-b.bw5.br-success-light
                      .panel-body.pl20.p5
                        i.fa.fa-envelope.icon-bg
                        h2.mt15.lh15
                          b 714
                        h5.text-muted Comments
              // Dashboard Tiles
              #spy3.row.mb10
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.bg-primary.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-comments-o.icon-bg
                        h2.mt15.lh15
                          b 523
                        h5.text-muted Comments
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.bg-info.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-bar-chart-o.icon-bg
                        h2.mt15.lh15
                          b 267
                        h5.text-muted Reach
                .col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                  .bs-component
                    .panel.panel-tile.bg-success.light
                      .panel-body.pn.pl20.p5
                        i.fa.fa-envelope.icon-bg
                        h2.mt15.lh15
                          b 714
                        h5.text-muted Comments
              // Dashboard Tiles
              #spy4.row.mb10
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center.br-a.br-light
                      .panel-body.bg-light.dark
                        h1.fs30.mbn 18,020
                        h6.text-system NB CONVERSIONS
                      .panel-footer.bg-white.br-t.br-light.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5.text-system
                          |  3% UNIQUE
                          b 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-primary
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.text-primary.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-info
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.text-info.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-success
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.text-success.pr5
                          b  3% UNIQUES 1D AGO
              // Dashboard Tiles
              #spy5.row.mb10
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center.br-a.br-light
                      .panel-body.bg-light
                        h1.fs30.mbn 18,020
                        h6.text-system NB CONVERSIONS
                      .panel-footer.bg-light.dark.br-t.br-light.p12
                        span.fs11
                          i.fa.fa-arrow-up
                          |  3% UNIQUE
                          b 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-primary.light
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-primary.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-info.light
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-info.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-success.light
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-success.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
              // Dashboard Tiles
              #spy6.row.mb10
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center.br-a.br-light
                      .panel-body.bg-light
                        i.fa.fa-twitter.text-muted.fs70.mt10
                        h1.fs30.mbn 18,020
                        h6.text-system NB CONVERSIONS
                      .panel-footer.bg-light.dark.br-t.br-light.p12
                        span.fs11
                          i.fa.fa-arrow-up
                          |  3% UNIQUE
                          b 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-primary.light
                        i.fa.fa-twitter.text-muted.fs70.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-primary.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-info.light
                        i.fa.fa-twitter.text-muted.fs70.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-info.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-success.light
                        i.fa.fa-twitter.text-muted.fs70.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                      .panel-footer.bg-success.br-n.p12
                        span.fs11
                          i.fa.fa-arrow-up.pr5
                          b  3% UNIQUES 1D AGO
              // Dashboard Tiles
              #spy7.row.mb10
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center.br-a.br-light
                      .panel-body.bg-light
                        i.fa.fa-twitter.text-muted.fs45.br64.bg-light.dark.p15.ph20.mt10
                        h1.fs30.mbn 18,020
                        h6.text-system NB CONVERSIONS
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-primary.light
                        i.fa.fa-twitter.text-muted.fs45.br64.bg-primary.p15.ph20.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-info.light
                        i.fa.fa-twitter.text-muted.fs45.br64.bg-info.p15.ph20.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
                .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-0.col-lg-3
                  .bs-component
                    .panel.panel-tile.text-center
                      .panel-body.bg-success.light
                        i.fa.fa-twitter.text-muted.fs45.br64.bg-success.p15.ph20.mt10
                        h1.fs30.mbn 18,020
                        h6.text-white NB CONVERSIONS
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // BEGIN: PAGE SCRIPTS
    // jQuery
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
      });